openapi: 3.1.0
info:
  title: 4Selet Pay API
  description: >
    API de processamento de pagamentos da plataforma 4Selet Pay.
    Suporta cobranças únicas, assinaturas recorrentes, PIX, Cartão de Crédito e PayPal.
    Todas as rotas autenticadas requerem um Bearer Token obtido via `/v1/login`.
  version: 1.0.0
  contact:
    name: 4Selet Pay
    email: suporte@4selet.com.br

servers:
  - url: https://hml.4seletpay.com.br/api
    description: Servidor de Produção

security:
  - bearerAuth: []

tags:
  - name: Autenticação
    description: Rotas de autenticação e criação de usuários
  - name: Cobranças
    description: Criação, consulta, cancelamento e reembolso de cobranças
  - name: Pedidos
    description: Consulta de pedidos e gerenciamento de confirmações desafiadas
  - name: Assinaturas
    description: Criação e gerenciamento de assinaturas recorrentes
  - name: Faturas
    description: Gerenciamento de faturas e pagamento de faturas em atraso
  - name: Clientes Bloqueados
    description: Gerenciamento de lista negra de clientes
  - name: Contas
    description: Criação e gerenciamento de contas na plataforma
  - name: Aplicativo
    description: Endpoints para dashboard e uso via aplicativo mobile
  - name: Notificações Push
    description: Envio e gerenciamento de notificações push
  - name: Utilitários
    description: Endpoints utilitários como listagem de fusos horários
  - name: Gestão
    description: Relatórios gerenciais (acesso restrito a Super Admins)
  - name: Webhooks
    description: Endpoints para receber notificações de gateways de pagamento

paths:

  # ─────────────────────────────────────────────────────────────────
  # AUTENTICAÇÃO
  # ─────────────────────────────────────────────────────────────────

  /v1/check:
    get:
      tags: [Autenticação]
      summary: Verificar status da API
      description: Retorna uma mensagem confirmando que a API está em funcionamento. Útil para health checks.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API em funcionamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API is running
              example:
                message: API is running

  /v1/login:
    post:
      tags: [Autenticação]
      summary: Realizar login
      description: >
        Autentica o usuário com email e senha e retorna um Bearer Token para uso nas demais rotas.
        O token tem prazo de expiração informado na resposta.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: usuario@exemplo.com.br
              password: "suaSenha123"
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                access_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                token_type: Bearer
                expires_at: "2026-04-11T12:00:00.000000Z"
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: Invalid Credentials
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/new-user:
    post:
      tags: [Autenticação]
      summary: Criar novo usuário
      description: Cria um novo usuário na plataforma. Rota pública, não requer autenticação.
      operationId: createUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserRequest'
            example:
              name: "João Silva"
              email: "joao@exemplo.com.br"
              password: "suaSenha123"
              password_confirmation: "suaSenha123"
      responses:
        '200':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ─────────────────────────────────────────────────────────────────
  # COBRANÇAS
  # ─────────────────────────────────────────────────────────────────

  /v1/charge:
    post:
      tags: [Cobranças]
      summary: Criar cobrança
      description: >
        Cria uma nova cobrança (pedido de pagamento). Suporta os métodos de pagamento:
        **CreditCard**, **PIX** e **PayPal**.
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.
      operationId: createCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            examples:
              cartao_credito:
                summary: Pagamento com Cartão de Crédito
                value:
                  international: false
                  client:
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    gender: "Male"
                    birthdate: "1990-01-15"
                    phone:
                      ddi: "55"
                      ddd: "11"
                      number: "999999999"
                    document:
                      type: "CPF"
                      number: "123.456.789-09"
                    address:
                      zipcode: "01310-100"
                      street: "Avenida Paulista"
                      number: 1000
                      neighborhood: "Bela Vista"
                      complement: "Apto 42"
                      city: "São Paulo"
                      state: "SP"
                      country: "Brasil"
                  payment:
                    type: CreditCard
                    card:
                      number: "4111111111111111"
                      name: "JOAO SILVA"
                      month: "12"
                      year: "27"
                      security_code: "123"
                      installments: 1
                      soft_descriptor: "MINHA LOJA"
                    conveniencefee: 0
                    conveniencefeeamount: 0
                  items:
                    - id: "produto_001"
                      description: "Camiseta Premium"
                      amount: 99.90
                      quantity: 2
                  type: "Online"
                  cycletype: "Unique"
              pix:
                summary: Pagamento com PIX
                value:
                  international: false
                  client:
                    name: "Maria Santos"
                    email: "maria@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "21"
                      number: "988887777"
                    document:
                      type: "CPF"
                      number: "987.654.321-00"
                  payment:
                    type: PIX
                    pix_expiration: 3600
                  items:
                    - id: "curso_001"
                      description: "Curso Online"
                      amount: 297.00
                      quantity: 1
      responses:
        '200':
          description: Cobrança criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      description: >
        Retorna a lista paginada de cobranças da conta informada no header `account`.
      operationId: listCharges
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: page
          in: query
          required: false
          description: Número da página
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: Quantidade de itens por página (máximo 100)
          schema:
            type: integer
            default: 15
            example: 15
        - name: status
          in: query
          required: false
          description: Filtrar por status da cobrança
          schema:
            type: string
            enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
            example: Approved
        - name: start_date
          in: query
          required: false
          description: Data inicial do filtro (formato Y-m-d)
          schema:
            type: string
            format: date
            example: "2026-01-01"
        - name: end_date
          in: query
          required: false
          description: Data final do filtro (formato Y-m-d)
          schema:
            type: string
            format: date
            example: "2026-03-31"
      responses:
        '200':
          description: Lista de cobranças retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedChargesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/charge/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      description: Retorna os detalhes completos de uma cobrança específica pelo seu código.
      operationId: getCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança
          schema:
            type: string
            example: "ord_abc123xyz"
      responses:
        '200':
          description: Dados da cobrança retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/cancel/{code}:
    post:
      tags: [Cobranças]
      summary: Cancelar cobrança
      description: Cancela uma cobrança existente que ainda não foi finalizada.
      operationId: cancelCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser cancelada
          schema:
            type: string
            example: "ord_abc123xyz"
      responses:
        '200':
          description: Cobrança cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                success: true
                message: Cobrança cancelada com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/refund/{code}:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      description: >
        Realiza o estorno (reembolso) de uma cobrança aprovada.
        O campo `value` no body é opcional; se não informado, o estorno é total.
      operationId: refundCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser estornada
          schema:
            type: string
            example: "ord_abc123xyz"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: number
                  format: float
                  description: Valor a ser estornado (opcional). Se omitido, o estorno é total.
                  example: 50.00
            example:
              value: 50.00
      responses:
        '200':
          description: Estorno realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # PEDIDOS
  # ─────────────────────────────────────────────────────────────────

  /v1/orders/{order_code}/confirmations:
    get:
      tags: [Pedidos]
      summary: Listar confirmações do pedido
      description: >
        Retorna a lista de confirmações (desafios de segurança) associadas a um pedido.
        Usado quando um pedido entra no status **Challenged** e requer verificação adicional (ex: 3D Secure, OTP).
      operationId: getOrderConfirmations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
      responses:
        '200':
          description: Lista de confirmações retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/verify:
    post:
      tags: [Pedidos]
      summary: Verificar confirmação do pedido
      description: >
        Verifica/valida uma confirmação de pedido desafiado.
        O cliente deve submeter o código recebido (ex: OTP via SMS/email) para desbloquear o pedido.
      operationId: verifyOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID da confirmação a ser verificada
          schema:
            type: string
            example: "conf_xyz789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Código de verificação recebido pelo cliente (OTP, 3DS, etc.)
                  example: "123456"
            example:
              code: "123456"
      responses:
        '200':
          description: Confirmação verificada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/resend:
    post:
      tags: [Pedidos]
      summary: Reenviar confirmação do pedido
      description: "Reenvia o código de confirmação para o cliente (ex: novo OTP por SMS/email)."
      operationId: resendOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID da confirmação
          schema:
            type: string
            example: "conf_xyz789"
      responses:
        '200':
          description: Confirmação reenviada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # ASSINATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/subscriptions:
    post:
      tags: [Assinaturas]
      summary: Criar assinatura
      description: >
        Cria uma nova assinatura recorrente para um cliente. Suporta os métodos de pagamento:
        **CreditCard** e **PIX**.
        O campo `subscription.interval` define o ciclo em dias (ex: 30 para mensal).
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.
      operationId: createSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreSubscriptionRequest'
            example:
              international: false
              client:
                client_ip: "192.168.1.100"
                name: "Carlos Ferreira"
                email: "carlos@exemplo.com.br"
                gender: "Male"
                birthdate: "1985-06-20"
                phone:
                  ddi: 55
                  ddd: 11
                  number: "977776666"
                document:
                  type: "CPF"
                  number: "111.222.333-44"
                address:
                  zipcode: "04538-132"
                  street: "Rua Fidêncio Ramos"
                  number: 302
                  neighborhood: "Vila Olímpia"
                  complement: "Torre B"
                  city: "São Paulo"
                  state: "SP"
                  country: "Brasil"
              subscription:
                interval: 30
                code: "plano_mensal_001"
                description: "Plano Mensal Premium"
                installments: 1
                max_invoices: 12
                minimum_price: 9990
                billing_type: "prepaid"
                discounts:
                  cycles: 1
                  value: 10.0
                  type: "percentage"
                metadata:
                  origem: "site"
              payment:
                type: CreditCard
                card:
                  number: "4111111111111111"
                  name: "CARLOS FERREIRA"
                  month: "08"
                  year: "28"
                  security_code: "456"
              items:
                - id: "plano_premium"
                  description: "Acesso Premium Mensal"
                  amount: 99.90
                  quantity: 1
      responses:
        '200':
          description: Assinatura criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /v1/subscriptions/cancel/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Cancelar assinatura
      description: Cancela uma assinatura ativa. A assinatura não será renovada na próxima data de cobrança.
      operationId: cancelSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      responses:
        '200':
          description: Assinatura cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/change-card/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar cartão da assinatura
      description: Substitui o cartão de crédito vinculado a uma assinatura existente.
      operationId: changeSubscriptionCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCardRequest'
            example:
              name: "CARLOS FERREIRA"
              number: "5500000000000004"
              month: "09"
              year: "29"
              security_code: "789"
      responses:
        '200':
          description: Cartão alterado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/change-payment-method/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar método de pagamento da assinatura
      description: >
        Altera o método de pagamento de uma assinatura. Ao mudar para `CreditCard`,
        os dados do novo cartão devem ser informados no objeto `card`.
      operationId: changeSubscriptionPaymentMethod
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePaymentMethodRequest'
            examples:
              para_pix:
                summary: Mudar para PIX
                value:
                  method: PIX
              para_cartao:
                summary: Mudar para Cartão de Crédito
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
      responses:
        '200':
          description: Método de pagamento alterado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{subscription_code}/invoices:
    get:
      tags: [Assinaturas]
      summary: Listar faturas da assinatura
      description: Retorna as faturas geradas para uma assinatura, com suporte a filtro por status e limite de itens.
      operationId: listSubscriptionInvoices
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: status
          in: query
          required: false
          description: Filtrar faturas por status
          schema:
            type: string
            enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
            example: Pending
        - name: limit
          in: query
          required: false
          description: Quantidade máxima de faturas a retornar (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
      responses:
        '200':
          description: Lista de faturas retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{subscription_code}/items:
    get:
      tags: [Assinaturas]
      summary: Listar itens da assinatura
      description: Retorna os itens (produtos/serviços) vinculados a uma assinatura.
      operationId: listSubscriptionItems
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: code
          in: query
          required: false
          description: Filtrar por código do item
          schema:
            type: string
            example: "plano_premium"
      responses:
        '200':
          description: Lista de itens retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{subscription_code}/items/{item_code}:
    put:
      tags: [Assinaturas]
      summary: Atualizar item da assinatura
      description: Atualiza quantidade, valor ou descrição de um item vinculado a uma assinatura.
      operationId: updateSubscriptionItem
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: item_code
          in: path
          required: true
          description: Código único do item
          schema:
            type: string
            example: "item_001"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionItemRequest'
            example:
              quantity: 2
              amount: 8990
              description: "Acesso Premium Mensal - 2 usuários"
      responses:
        '200':
          description: Item atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # FATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/invoices/{invoice_code}/pay-overdue:
    post:
      tags: [Faturas]
      summary: Pagar fatura em atraso
      description: >
        Realiza o pagamento de uma fatura em atraso de uma assinatura.
        Aceita Cartão de Crédito ou PIX como método de pagamento.
      operationId: payOverdueInvoice
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: invoice_code
          in: path
          required: true
          description: Código único da fatura em atraso
          schema:
            type: string
            example: "inv_xyz456"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayOverdueInvoiceRequest'
            examples:
              cartao:
                summary: Pagar com Cartão
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
              pix:
                summary: Pagar com PIX
                value:
                  method: PIX
      responses:
        '200':
          description: Fatura paga com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token JWT obtido via `POST /v1/login`. Envie no header `Authorization: Bearer <token>`."

  parameters:
    AccountHeader:
      name: account
      in: header
      required: true
      description: Código da conta à qual a operação se aplica
      schema:
        type: string
        example: "acc_abc123xyz"

  responses:
    ValidationError:
      description: Erro de validação dos dados enviados
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          example:
            message: The given data was invalid.
            errors:
              client.email:
                - O campo client.email é obrigatório.
    Unauthorized:
      description: Não autorizado — token inválido ou ausente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Unauthenticated.
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Recurso não encontrado.
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Dados inválidos na requisição.
    ServerError:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Erro interno. Tente novamente mais tarde.

  schemas:

    # ── Autenticação ──────────────────────────────────────────────

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: E-mail do usuário (obrigatório)
          example: usuario@exemplo.com.br
        password:
          type: string
          format: password
          description: Senha do usuário (obrigatório)
          example: "suaSenha123"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Token de acesso Bearer JWT
          example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
        token_type:
          type: string
          description: Tipo do token
          example: Bearer
        expires_at:
          type: string
          format: date-time
          description: Data/hora de expiração do token
          example: "2026-04-11T12:00:00.000000Z"

    NewUserRequest:
      type: object
      required: [name, email, password, password_confirmation]
      properties:
        name:
          type: string
          description: Nome completo do usuário (obrigatório)
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do usuário (obrigatório)
          example: "joao@exemplo.com.br"
        password:
          type: string
          format: password
          description: Senha (obrigatório)
          example: "suaSenha123"
        password_confirmation:
          type: string
          format: password
          description: Confirmação da senha (obrigatório, deve ser igual a password)
          example: "suaSenha123"

    UserProfile:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do usuário
          example: "usr_abc123"
        name:
          type: string
          description: Nome completo do usuário
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do usuário
          example: "joao@exemplo.com.br"
        path_avatar:
          type: string
          nullable: true
          description: URL do avatar do usuário
          example: "https://sua-api.com/storage/avatars/joao.jpg"
        admin_profile_id:
          type: string
          nullable: true
          description: ID do perfil de administrador (null se não for admin)
          example: null
        preferences:
          type: object
          description: Preferências gerais do usuário
          example: {}
        app_preferences:
          type: object
          description: Preferências do aplicativo mobile
          example: {}

    # ── Cliente / Checkout ─────────────────────────────────────────

    ClientData:
      type: object
      required: [name, email, phone]
      properties:
        name:
          type: string
          description: Nome completo do cliente (obrigatório, máx. 255 caracteres)
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do cliente (obrigatório)
          example: "joao@exemplo.com.br"
        gender:
          type: string
          description: Gênero do cliente (opcional)
          enum: [Male, Female, Other]
          example: Male
        birthdate:
          type: string
          format: date
          description: Data de nascimento no formato YYYY-MM-DD (opcional)
          example: "1990-01-15"
        phone:
          $ref: '#/components/schemas/PhoneData'
        document:
          $ref: '#/components/schemas/DocumentData'
        address:
          $ref: '#/components/schemas/AddressData'

    ClientDataWithIp:
      allOf:
        - $ref: '#/components/schemas/ClientData'
        - type: object
          properties:
            client_ip:
              type: string
              format: ipv4
              description: Endereço IP do cliente (opcional)
              example: "192.168.1.100"

    PhoneData:
      type: object
      required: [ddi, ddd, number]
      properties:
        ddi:
          type: string
          description: Código do país (DDI) — obrigatório
          example: "55"
        ddd:
          type: string
          description: Código de área (DDD) — obrigatório
          example: "11"
        number:
          type: string
          description: Número do telefone sem DDD — obrigatório
          example: "999999999"

    DocumentData:
      type: object
      properties:
        type:
          type: string
          description: Tipo do documento (opcional para checkout, obrigatório para assinaturas)
          enum: [CPF, CNPJ, RG, Passport]
          example: CPF
        number:
          type: string
          description: Número do documento (opcional para checkout, obrigatório para assinaturas)
          example: "123.456.789-09"

    AddressData:
      type: object
      description: Endereço do cliente (obrigatório se o objeto address for enviado)
      properties:
        zipcode:
          type: string
          description: CEP (obrigatório quando address é enviado)
          example: "01310-100"
        street:
          type: string
          description: Logradouro (obrigatório quando address é enviado)
          example: "Avenida Paulista"
        number:
          type: integer
          description: Número do endereço (obrigatório quando address é enviado)
          example: 1000
        neighborhood:
          type: string
          description: Bairro (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "Bela Vista"
        complement:
          type: string
          description: Complemento (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "Apto 42"
        city:
          type: string
          description: Cidade (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "São Paulo"
        state:
          type: string
          description: UF com 2 letras (obrigatório quando address é enviado)
          maxLength: 2
          example: "SP"
        country:
          type: string
          description: País (opcional, máx. 255 caracteres)
          example: "Brasil"

    CardData:
      type: object
      properties:
        card_id:
          type: string
          nullable: true
          description: ID de um cartão já salvo na plataforma (opcional, substitui os demais campos)
          example: null
        number:
          type: string
          description: Número do cartão (obrigatório se card_id não informado, mín. 13 dígitos)
          example: "4111111111111111"
        name:
          type: string
          description: Nome impresso no cartão (obrigatório se card_id não informado)
          example: "JOAO SILVA"
        month:
          type: string
          description: Mês de validade MM (obrigatório se card_id não informado)
          example: "12"
        year:
          type: string
          description: Ano de validade YY (obrigatório se card_id não informado)
          example: "27"
        security_code:
          type: string
          description: Código de segurança CVV (obrigatório se card_id não informado)
          example: "123"
        installments:
          type: integer
          description: Número de parcelas (obrigatório se card_id não informado, mín. 1)
          minimum: 1
          example: 1
        soft_descriptor:
          type: string
          nullable: true
          description: Descrição que aparecerá na fatura do cartão (opcional, 3-50 caracteres)
          minLength: 3
          maxLength: 50
          example: "MINHA LOJA"

    PaymentData:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Método de pagamento (obrigatório)
          enum: [CreditCard, PIX, PayPal]
          example: CreditCard
        pix_expiration:
          type: integer
          description: Tempo de expiração do PIX em segundos (obrigatório para type=PIX, mín. 1)
          minimum: 1
          example: 3600
        card:
          $ref: '#/components/schemas/CardData'
        conveniencefee:
          type: number
          description: Taxa de conveniência em percentual (opcional)
          example: 0
        conveniencefeeamount:
          type: number
          description: Valor fixo da taxa de conveniência (opcional)
          example: 0
        payment_source:
          type: object
          nullable: true
          description: Dados adicionais de origem do pagamento (usado para PayPal)
          properties:
            paypal:
              type: object
              properties:
                experience_context:
                  type: object
                  properties:
                    return_url:
                      type: string
                      format: uri
                      description: URL de retorno após aprovação no PayPal
                      example: "https://meusite.com.br/pagamento/sucesso"
                    cancel_url:
                      type: string
                      format: uri
                      description: URL de cancelamento no PayPal
                      example: "https://meusite.com.br/pagamento/cancelado"

    ItemData:
      type: object
      required: [id, description, amount, quantity]
      properties:
        id:
          type: string
          description: Código/identificador do item (obrigatório)
          example: "produto_001"
        description:
          type: string
          description: Descrição do item (obrigatório, máx. 255 caracteres)
          maxLength: 255
          example: "Camiseta Premium"
        amount:
          type: number
          format: float
          description: Valor unitário do item (obrigatório)
          example: 99.90
        quantity:
          type: integer
          description: Quantidade do item (obrigatório)
          minimum: 1
          example: 2

    CheckoutRequest:
      type: object
      required: [client, payment, items]
      properties:
        international:
          type: boolean
          nullable: true
          description: Indica se é uma transação internacional (opcional, padrão false)
          example: false
        client:
          $ref: '#/components/schemas/ClientData'
        payment:
          $ref: '#/components/schemas/PaymentData'
        items:
          type: array
          description: Lista de itens da compra (obrigatório, mín. 1 item)
          items:
            $ref: '#/components/schemas/ItemData'
          example:
            - id: "produto_001"
              description: "Camiseta Premium"
              amount: 99.90
              quantity: 2
        type:
          type: string
          description: Tipo da compra (opcional)
          enum: [Online, InPerson, Recurrence]
          example: Online
        cycletype:
          type: string
          description: Tipo de ciclo da compra (opcional)
          enum: [Unique, Recurrent]
          example: Unique

    # ── Assinaturas ───────────────────────────────────────────────

    SubscriptionData:
      type: object
      required: [interval]
      properties:
        interval:
          type: integer
          description: Intervalo de cobrança em dias (obrigatório, 1-365)
          minimum: 1
          maximum: 365
          example: 30
        code:
          type: string
          nullable: true
          description: Código identificador da assinatura (opcional, definido pelo integrador)
          example: "plano_mensal_001"
        description:
          type: string
          nullable: true
          description: Descrição da assinatura (opcional)
          example: "Plano Mensal Premium"
        installments:
          type: integer
          nullable: true
          description: Parcelas por cobrança (obrigatório se CreditCard, 1-12)
          minimum: 1
          maximum: 12
          example: 1
        max_invoices:
          type: integer
          nullable: true
          description: Número máximo de faturas a serem geradas (opcional, mín. 1)
          minimum: 1
          example: 12
        minimum_price:
          type: integer
          nullable: true
          description: Preço mínimo em centavos (opcional)
          example: 9990
        start_date:
          type: string
          nullable: true
          description: "Data de início da cobrança (opcional, formato `Y-m-d H:i:s`, deve ser após amanhã)"
          example: "2026-04-01 00:00:00"
        billing_type:
          type: string
          nullable: true
          description: Tipo de cobrança da assinatura (opcional)
          enum: [prepaid]
          example: prepaid
        billing_day:
          type: integer
          nullable: true
          description: Dia do mês para cobrança (obrigatório se billing_type=exact_day, 1-31)
          minimum: 1
          maximum: 31
          example: 10
        discounts:
          type: object
          nullable: true
          description: Desconto a ser aplicado nas faturas (opcional)
          properties:
            cycles:
              type: integer
              description: Número de ciclos com desconto
              example: 3
            value:
              type: number
              description: Valor do desconto
              example: 10.0
            type:
              type: string
              description: Tipo do desconto
              enum: [percentage, flat]
              example: percentage
        increments:
          type: object
          nullable: true
          description: Acréscimo a ser aplicado nas faturas (opcional)
          properties:
            cycles:
              type: integer
              example: 2
            value:
              type: number
              example: 5.0
            type:
              type: string
              enum: [percentage, flat]
              example: flat
        metadata:
          type: object
          nullable: true
          description: Metadados adicionais em formato livre (opcional)
          example:
            origem: "site"
            campanha: "black-friday"

    PaymentDataSubscription:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Método de pagamento (obrigatório, CreditCard ou PIX)
          enum: [CreditCard, PIX]
          example: CreditCard
        pix_expiration:
          type: integer
          nullable: true
          description: Expiração do PIX em segundos (obrigatório se type=PIX)
          example: 3600
        boleto_due_days:
          type: string
          nullable: true
          description: Dias de vencimento do boleto (obrigatório se type=Boleto, máx. 255)
          example: "5"
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório se type=CreditCard e card_id não informado)
          properties:
            card_id:
              type: string
              nullable: true
              description: ID de cartão salvo (opcional)
              example: null
            number:
              type: string
              description: Número do cartão (mín. 13 dígitos)
              example: "4111111111111111"
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            month:
              type: string
              description: Mês de validade
              example: "08"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "456"
            soft_descriptor:
              type: string
              nullable: true
              description: Texto na fatura (opcional, máx. 50 caracteres)
              example: "MINHA EMPRESA"

    StoreSubscriptionRequest:
      type: object
      required: [client, subscription, payment, items]
      properties:
        international:
          type: boolean
          nullable: true
          description: Indica se é uma transação internacional (opcional)
          example: false
        client:
          $ref: '#/components/schemas/ClientDataWithIp'
        subscription:
          $ref: '#/components/schemas/SubscriptionData'
        payment:
          $ref: '#/components/schemas/PaymentDataSubscription'
        items:
          type: array
          description: Lista de itens da assinatura (obrigatório)
          items:
            $ref: '#/components/schemas/ItemData'

    ChangeCardRequest:
      type: object
      required: [name, number, month, year, security_code]
      properties:
        name:
          type: string
          description: Nome do titular do cartão (obrigatório)
          example: "CARLOS FERREIRA"
        number:
          type: string
          description: Número do cartão (obrigatório)
          example: "5500000000000004"
        month:
          type: string
          description: Mês de validade do cartão (obrigatório)
          example: "09"
        year:
          type: string
          description: Ano de validade do cartão (obrigatório)
          example: "29"
        security_code:
          type: string
          description: Código de segurança do cartão (obrigatório)
          example: "789"

    ChangePaymentMethodRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          description: Novo método de pagamento (obrigatório)
          enum: [DebitCard, CreditCard, PIX, Boleto, PayPal]
          example: PIX
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório se method=CreditCard)
          properties:
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            number:
              type: string
              description: Número do cartão
              example: "4111111111111111"
            month:
              type: string
              description: Mês de validade
              example: "12"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "321"

    UpdateSubscriptionItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          nullable: true
          description: Nova quantidade do item (opcional, mín. 1)
          minimum: 1
          example: 2
        amount:
          type: integer
          nullable: true
          description: Novo valor em centavos (opcional, 0-1000000)
          minimum: 0
          maximum: 1000000
          example: 8990
        description:
          type: string
          nullable: true
          description: Nova descrição do item (opcional, máx. 255 caracteres)
          maxLength: 255
          example: "Acesso Premium Mensal - 2 usuários"

    # ── Faturas ───────────────────────────────────────────────────

    PayOverdueInvoiceRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          description: Método de pagamento para quitação (obrigatório)
          enum: [DebitCard, CreditCard, PIX, Boleto, PayPal]
          example: CreditCard
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório se method=CreditCard)
          properties:
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            number:
              type: string
              description: Número do cartão
              example: "4111111111111111"
            month:
              type: string
              description: Mês de validade
              example: "12"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "321"

    # ── Clientes Bloqueados ───────────────────────────────────────

    BlockClientsRequest:
      type: object
      required: [type, data]
      properties:
        type:
          type: string
          description: Tipo de dado para bloqueio (obrigatório)
          enum: [cpf, email]
          example: email
        data:
          type: array
          description: Lista de emails ou CPFs a bloquear (obrigatório)
          items:
            type: string
          example:
            - "spam@exemplo.com.br"
            - "fraude@exemplo.com.br"

    BlockedClientItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do registro de bloqueio
          example: "550e8400-e29b-41d4-a716-446655440000"
        account_code:
          type: string
          description: Código da conta que realizou o bloqueio
          example: "acc_abc123"
        email:
          type: string
          nullable: true
          description: E-mail bloqueado (nulo se bloqueio por CPF)
          example: "spam@exemplo.com.br"
        document:
          type: string
          nullable: true
          description: CPF formatado (nulo se bloqueio por e-mail)
          example: "123.456.789-09"
        type_document:
          type: string
          nullable: true
          description: Tipo do documento bloqueado
          example: CPF
        type:
          type: string
          description: Tipo de bloqueio (Manual, Automatic, etc.)
          example: "Manual"
        created_at:
          type: string
          format: date-time
          example: "2026-02-15T10:30:00.000000Z"

    # ── Contas ────────────────────────────────────────────────────

    AccountRequest:
      type: object
      properties:
        name:
          type: string
          description: Nome da conta (loja/empresa)
          example: "Minha Loja"
        corporate_name:
          type: string
          description: Razão social
          example: "Minha Loja LTDA"
        timezone:
          type: string
          description: Fuso horário da conta
          example: "America/Sao_Paulo"
        coin:
          type: string
          description: Moeda padrão da conta (código ISO 4217)
          example: "BRL"

    AccountItem:
      type: object
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          description: Código único da conta
          example: "acc_abc123"
        name:
          type: string
          example: "Minha Loja"
        corporate_name:
          type: string
          nullable: true
          example: "Minha Loja LTDA"
        timezone:
          type: string
          example: "America/Sao_Paulo"
        coin:
          type: string
          example: "BRL"
        integration:
          type: object
          nullable: true
          description: Configurações de integração com gateways
          example: {}
        settings:
          type: object
          nullable: true
          description: Configurações da conta
          example: {}
        created_at:
          type: string
          format: date-time
          example: "2026-01-01T00:00:00.000000Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-03-01T00:00:00.000000Z"

    # ── Respostas de Cobranças ─────────────────────────────────────

    ChargeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Cobrança criada com sucesso"
        data:
          type: object
          properties:
            order_code:
              type: string
              description: Código único do pedido criado
              example: "ord_abc123xyz"
            status:
              type: string
              description: Status do pedido
              enum: [Pending, Challenged, Approved, Declined]
              example: Approved
            value:
              type: number
              format: float
              description: Valor total da cobrança
              example: 199.80
            payment_type:
              type: string
              description: Método de pagamento utilizado
              example: CreditCard
            pix_qr_code:
              type: string
              nullable: true
              description: QR Code do PIX em base64 (apenas para pagamentos PIX)
              example: null
            pix_copy_paste:
              type: string
              nullable: true
              description: Código copia e cola do PIX (apenas para pagamentos PIX)
              example: null
            pix_expiration:
              type: string
              nullable: true
              format: date-time
              description: Data/hora de expiração do PIX
              example: null
            paypal_redirect_url:
              type: string
              nullable: true
              description: URL de redirecionamento para o PayPal
              example: null
            created_at:
              type: string
              format: date-time
              example: "2026-03-11T10:00:00.000000Z"

    ChargeDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            code:
              type: string
              example: "ord_abc123xyz"
            status:
              type: string
              enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
              example: Approved
            value:
              type: number
              format: float
              example: 199.80
            payment_type:
              type: string
              example: CreditCard
            installments:
              type: integer
              example: 1
            client:
              type: object
              properties:
                name:
                  type: string
                  example: "João Silva"
                email:
                  type: string
                  example: "joao@exemplo.com.br"
                document:
                  type: string
                  example: "123.456.789-09"
            items:
              type: array
              items:
                $ref: '#/components/schemas/ItemData'
            created_at:
              type: string
              format: date-time
              example: "2026-03-11T10:00:00.000000Z"
            updated_at:
              type: string
              format: date-time
              example: "2026-03-11T10:01:00.000000Z"

    PaginatedChargesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChargeDetailResponse'
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 5
        per_page:
          type: integer
          example: 15
        total:
          type: integer
          example: 72

    # ── Respostas de Pedidos ──────────────────────────────────────

    OrderConfirmationItem:
      type: object
      properties:
        id:
          type: string
          example: "conf_xyz789"
        type:
          type: string
          description: Tipo de confirmação
          enum: [ThreeDS, OTP, Manual]
          example: OTP
        status:
          type: string
          description: Status da confirmação
          enum: [Pending, Verified, Expired, Failed]
          example: Pending
        created_at:
          type: string
          format: date-time
          example: "2026-03-11T10:00:00.000000Z"
        expires_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-03-11T10:15:00.000000Z"

    OrderConfirmationsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderConfirmationItem'

    OrderDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            code:
              type: string
              example: "ord_abc123xyz"
            status:
              type: string
              enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
              example: Approved
            value:
              type: number
              format: float
              example: 199.80
            invoice_attempts:
              type: integer
              description: Número de tentativas de cobrança
              example: 1
            metadata:
              type: object
              nullable: true
              example: {}
            charges:
              type: array
              items:
                type: object
                properties:
                  payment_type:
                    type: string
                    example: CreditCard
                  installments:
                    type: integer
                    example: 1
                  status:
                    type: string
                    example: Approved
            items:
              type: array
              items:
                $ref: '#/components/schemas/ItemData'
            client:
              type: object
              properties:
                name:
                  type: string
                  example: "João Silva"
                email:
                  type: string
                  example: "joao@exemplo.com.br"
            created_at:
              type: string
              format: date-time
              example: "2026-03-11T10:00:00.000000Z"

    PaginatedOrdersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailResponse'
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 3
        per_page:
          type: integer
          example: 15
        total:
          type: integer
          example: 42

    # ── Respostas de Assinaturas ──────────────────────────────────

    SubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Assinatura criada com sucesso"
        data:
          type: object
          properties:
            subscription_code:
              type: string
              example: "sub_abc123"
            status:
              type: string
              enum: [Active, Canceled, Suspended, Completed]
              example: Active
            interval:
              type: integer
              description: Intervalo de cobrança em dias
              example: 30
            payment_method:
              type: string
              example: CreditCard
            next_billing_date:
              type: string
              format: date
              example: "2026-04-11"
            created_at:
              type: string
              format: date-time
              example: "2026-03-11T10:00:00.000000Z"

    InvoiceItem:
      type: object
      properties:
        code:
          type: string
          example: "inv_xyz456"
        status:
          type: string
          enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
          example: Approved
        value:
          type: number
          format: float
          example: 99.90
        due_date:
          type: string
          format: date
          example: "2026-04-01"
        paid_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-04-01T09:00:00.000000Z"
        created_at:
          type: string
          format: date-time
          example: "2026-03-11T00:00:00.000000Z"

    InvoicesListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'

    SubscriptionItemItem:
      type: object
      properties:
        code:
          type: string
          example: "item_001"
        id:
          type: string
          example: "plano_premium"
        description:
          type: string
          example: "Acesso Premium Mensal"
        amount:
          type: integer
          description: Valor em centavos
          example: 9990
        quantity:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
          example: "2026-03-11T10:00:00.000000Z"

    SubscriptionItemsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItemItem'

    # ── Dashboard ────────────────────────────────────────────────

    DashboardResponse:
      type: object
      properties:
        total_revenue:
          type: number
          format: float
          description: Receita total no período
          example: 15420.50
        total_orders:
          type: integer
          description: Total de pedidos no período
          example: 87
        statusCounts:
          type: object
          description: Contagem de pedidos por status
          properties:
            Approved:
              type: integer
              example: 72
            Declined:
              type: integer
              example: 8
            Pending:
              type: integer
              example: 5
            Refunded:
              type: integer
              example: 2

    # ── Push Notifications ────────────────────────────────────────

    SendPushNotificationRequest:
      type: object
      required: [title, body]
      properties:
        title:
          type: string
          description: Título da notificação (obrigatório)
          example: "Novo pedido recebido!"
        body:
          type: string
          description: Corpo da notificação (obrigatório)
          example: "Você tem um novo pedido no valor de R$ 199,90"
        data:
          type: object
          nullable: true
          description: Dados adicionais em formato livre (opcional)
          example:
            order_code: "ord_abc123xyz"
            type: "new_order"

    AddDeviceRequest:
      type: object
      required: [device_token]
      properties:
        device_token:
          type: string
          description: Token do dispositivo para push (obrigatório)
          example: "ExponentPushToken[xxxxxxxxxxxxxxxxxxxxxx]"
        platform:
          type: string
          nullable: true
          description: Plataforma do dispositivo (opcional)
          enum: [ios, android]
          example: ios

    PushNotificationsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "notif_001"
              title:
                type: string
                example: "Novo pedido recebido!"
              body:
                type: string
                example: "Você tem um novo pedido no valor de R$ 199,90"
              read:
                type: boolean
                example: false
              created_at:
                type: string
                format: date-time
                example: "2026-03-11T10:00:00.000000Z"

    # ── Utilitários ───────────────────────────────────────────────

    TimeZonesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: Identificador do fuso horário
                example: "America/Sao_Paulo"
              label:
                type: string
                description: Nome legível do fuso horário
                example: "America/Sao_Paulo (UTC-03:00)"

    # ── Gestão ───────────────────────────────────────────────────

    SalesReportResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              account_code:
                type: string
                example: "acc_abc123"
              account_name:
                type: string
                example: "Minha Loja"
              total_revenue:
                type: number
                format: float
                example: 15420.50
              total_orders:
                type: integer
                example: 87
              approved_orders:
                type: integer
                example: 72
              declined_orders:
                type: integer
                example: 8
              period:
                type: object
                properties:
                  start_date:
                    type: string
                    format: date
                    example: "2026-01-01"
                  end_date:
                    type: string
                    format: date
                    example: "2026-03-31"
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 1
        total:
          type: integer
          example: 5

    # ── Webhooks ─────────────────────────────────────────────────

    WebhookPayload:
      type: object
      description: Payload enviado pelo gateway de pagamento (estrutura varia por gateway)
      properties:
        id:
          type: string
          description: Identificador do evento no gateway
          example: "evt_xyz789"
        type:
          type: string
          description: Tipo do evento
          example: "charge.paid"
        data:
          type: object
          description: Dados do evento (estrutura depende do gateway)
          example:
            id: "ch_abc123"
            status: "paid"
            amount: 19980

    # ── Respostas genéricas ───────────────────────────────────────

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operação realizada com sucesso"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Ocorreu um erro"
        errors:
          type: array
          items:
            type: string
          example: []

    ValidationErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "The given data was invalid."
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            "client.email":
              - "O campo client.email é obrigatório."
            "payment.type":
              - "O campo payment.type é obrigatório."

    # ── Respostas de Listas ───────────────────────────────────────

    AccountsListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountItem'

    AccountDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/AccountItem'

    BlockedClientsListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Clientes bloqueados encontrados com sucesso"
        data:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            data:
              type: array
              items:
                $ref: '#/components/schemas/BlockedClientItem'
            last_page:
              type: integer
              example: 2
            per_page:
              type: integer
              example: 15
            total:
              type: integer
              example: 23

    UserPreferencesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Preferências do usuário (estrutura livre)
          example:
            theme: "dark"
            language: "pt-BR"
            notifications_enabled: true

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
          description: Novo nome do usuário (opcional)
          example: "João Silva Atualizado"
        email:
          type: string
          format: email
          description: Novo e-mail do usuário (opcional)
          example: "joao.novo@exemplo.com.br"
        path_avatar:
          type: string
          nullable: true
          description: Caminho do novo avatar (opcional)
          example: "avatars/joao_novo.jpg"
        zipcode:
          type: string
          description: CEP do endereço (opcional)
          example: "01310-100"
        street:
          type: string
          description: Logradouro (opcional)
          example: "Avenida Paulista"
        number:
          type: string
          description: Número do endereço (opcional)
          example: "1000"
        complement:
          type: string
          description: Complemento (opcional)
          example: "Apto 42"
        neighborhood:
          type: string
          description: Bairro (opcional)
          example: "Bela Vista"
        city:
          type: string
          description: Cidade (opcional)
          example: "São Paulo"
        state:
          type: string
          description: Estado UF (opcional)
          example: "SP"
        country:
          type: string
          description: País (opcional)
          example: "Brasil"
        default:
          type: string
          description: Código da conta padrão do usuário (opcional)
          example: "acc_abc123"
