openapi: 3.1.0
info:
  title: 4Selet Pay API
  description: >
    API de processamento de pagamentos da plataforma 4Selet Pay.
    Suporta cobranças únicas, assinaturas recorrentes, PIX, Cartão de Crédito.
    Todas as rotas autenticadas requerem um Bearer Token obtido via `/v1/login`.
  version: 1.0.0
  contact:
    name: 4Selet Pay
    email: suporte@4selet.com.br

servers:
  - url: https://hml.4seletpay.com.br/api
    description: Servidor de Produção

security:
  - bearerAuth: []

tags:
  - name: Autenticação
    description: Rotas de autenticação e criação de usuários
  - name: Cobranças
    description: Criação, consulta, cancelamento e reembolso de cobranças
  - name: Pedidos
    description: Consulta de pedidos e gerenciamento de confirmações desafiadas
  - name: Assinaturas
    description: Criação e gerenciamento de assinaturas recorrentes
  - name: Faturas
    description: Gerenciamento de faturas e pagamento de faturas em atraso
  - name: Clientes Bloqueados
    description: Gerenciamento de lista negra de clientes
  - name: Contas
    description: Criação e gerenciamento de contas na plataforma
  - name: Aplicativo
    description: Endpoints para dashboard e uso via aplicativo mobile
  - name: Notificações Push
    description: Envio e gerenciamento de notificações push
  - name: Utilitários
    description: Endpoints utilitários como listagem de fusos horários
  - name: Gestão
    description: Relatórios gerenciais (acesso restrito a Super Admins)
  - name: Webhooks
    description: Endpoints para receber notificações de gateways de pagamento
  - name: Endpoints de Webhook
    description: Gerenciamento de endpoints de webhook para receber notificações de eventos da plataforma

paths:

  # ─────────────────────────────────────────────────────────────────
  # AUTENTICAÇÃO
  # ─────────────────────────────────────────────────────────────────

  /v1/check:
    get:
      tags: [Autenticação]
      summary: Verificar status da API
      description: Retorna uma mensagem confirmando que a API está em funcionamento. Útil para health checks.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API em funcionamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API is running
              example:
                message: API is running

  /v1/login:
    post:
      tags: [Autenticação]
      summary: Realizar login
      description: >
        Autentica o usuário com email e senha e retorna um Bearer Token para uso nas demais rotas.
        O token tem prazo de expiração informado na resposta.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: usuario@exemplo.com.br
              password: "suaSenha123"
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                access_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                token_type: Bearer
                expires_at: "2026-04-11T12:00:00.000000Z"
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: Invalid Credentials
        '422':
          $ref: '#/components/responses/ValidationError'

  # ─────────────────────────────────────────────────────────────────
  # COBRANÇAS
  # ─────────────────────────────────────────────────────────────────

  /v1/charge:
    post:
      tags: [Cobranças]
      summary: Criar cobrança
      description: >
        Cria uma nova cobrança (pedido de pagamento). Suporta os métodos de pagamento:
        **CreditCard**, **PIX**.
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.


        Possíveis cenários de resposta:

        - **201** — Cobrança processada com sucesso (aprovada ou aguardando pagamento PIX)

        - **202** — Transação desafiada (requer confirmação adicional via OTP)

        - **400** — Fraude detectada ou erro no processamento do gateway

        - **422** — Erro de validação dos dados enviados
      operationId: createCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            examples:
              cartao_credito:
                summary: Pagamento com Cartão de Crédito
                value:
                  international: false
                  client:
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    gender: "Male"
                    birthdate: "1990-01-15"
                    phone:
                      ddi: "55"
                      ddd: "11"
                      number: "999999999"
                    document:
                      type: "CPF"
                      number: "123.456.789-09"
                    address:
                      zipcode: "01310-100"
                      street: "Avenida Paulista"
                      number: 1000
                      neighborhood: "Bela Vista"
                      complement: "Apto 42"
                      city: "São Paulo"
                      state: "SP"
                      country: "Brasil"
                  payment:
                    type: CreditCard
                    card:
                      number: "4111111111111111"
                      name: "JOAO SILVA"
                      month: "12"
                      year: "27"
                      security_code: "123"
                      installments: 1
                      soft_descriptor: "MINHA LOJA"
                  items:
                    - id: "produto_001"
                      description: "Camiseta Premium"
                      amount: 99.90
                      quantity: 2
              pix:
                summary: Pagamento com PIX
                value:
                  international: false
                  client:
                    name: "Maria Santos"
                    email: "maria@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "21"
                      number: "988887777"
                    document:
                      type: "CPF"
                      number: "987.654.321-00"
                  payment:
                    type: PIX
                    pix_expiration: 3600
                  items:
                    - id: "curso_001"
                      description: "Curso Online"
                      amount: 297.00
                      quantity: 1
      responses:
        '201':
          description: Cobrança processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
              example:
                mensagem: "Cobrança realizada com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  charge_created_at: "11/03/2026 10:00:00"
                  account_id: 1
                  code: "pur_abc123xyz"
                  value: 199.80
                  charge_value: 199.80
                  coin: "BRL"
                  status: "Approved"
                  client:
                    code: "cli_abc123"
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Approved"
                      value: 199.80
                      charges:
                        - code: "chg_abc123"
                          status: "Approved"
                          value: 199.80
                          installments: 1
                          payment:
                            payment_type: "CreditCard"
                            installments: 1
        '202':
          description: Transação desafiada — requer confirmação adicional (OTP)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
              example:
                mensagem: "A transação necessita de confirmação..."
                erro: false
                mensagenserro: []
                codigoretorno: 202
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  status: "Challenged"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Challenged"
                      confirmation_codes:
                        - id: "conf_xyz789"
                          type: "OTP"
                          status: "Pending"
                          expires_at: "2026-03-11T10:15:00.000000Z"
        '400':
          description: Fraude detectada ou erro no gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Não foi possível concluir sua transação."
                erro: true
                mensagenserro:
                  - "Verifique as informações e tente novamente."
                codigoretorno: 400
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      description: >
        Retorna a lista paginada de cobranças da conta informada no header `account`.
        A resposta segue o formato padrão de paginação do Laravel (não é envelopada pelo formato APIReturnUtil).
      operationId: listCharges
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: page
          in: query
          required: false
          description: Número da página (gerenciado automaticamente pelo paginador Laravel)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: Quantidade de itens por página
          schema:
            type: integer
            default: 10
            example: 10
        - name: search
          in: query
          required: false
          description: Texto para busca nos campos da listagem
          schema:
            type: string
            example: "joao"
        - name: id
          in: query
          required: false
          description: Filtrar por ID específico da cobrança
          schema:
            type: string
            example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        - name: with_trashed
          in: query
          required: false
          description: Incluir registros soft-deleted (1 = sim, 0 = não)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
            example: 0
        - name: trashed_only
          in: query
          required: false
          description: Retornar apenas registros soft-deleted (1 = sim, 0 = não)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
            example: 0
      responses:
        '200':
          description: Lista de cobranças retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedChargesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/charge/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      description: >
        Retorna os detalhes completos de uma cobrança específica pelo seu código.
        Os dados são cacheados para melhor performance.
      operationId: getCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança
          schema:
            type: string
            example: "chg_abc123"
      responses:
        '200':
          description: Dados da cobrança retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeConsultResponse'
              example:
                mensagem: "Charge found"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  charge_created_at: "11/03/2026 10:00:00"
                  account_id: 1
                  code: "pur_abc123xyz"
                  value: 199.80
                  charge_value: 199.80
                  coin: "BRL"
                  status: "Approved"
                  client:
                    code: "cli_abc123"
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    documents:
                      - type: "CPF"
                        number: "123.456.789-09"
                        default: true
                    phone:
                      - ddi: "55"
                        ddd: "11"
                        number: "999999999"
                        default: true
                    addresss:
                      - zipcode: "01310-100"
                        street: "Avenida Paulista"
                        number: "1000"
                        neighborhood: "Bela Vista"
                        city: "São Paulo"
                        state: "SP"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Approved"
                      value: 199.80
                      error_message: null
                      items:
                        - code: "produto_001"
                          name: "Camiseta Premium"
                          unitary_value: 99.90
                          quantity: 2
                      charges:
                        - code: "chg_abc123"
                          status: "Approved"
                          value: 199.80
                          canceled_amount: 0
                          nsu: "123456789"
                          installments: 1
                          attempts: 1
                          payment:
                            code: null
                            copy_paste: null
                            expiration: null
                            payment_type: "CreditCard"
                            installments: 1
                          last_transaction:
                            transaction_id: "txn_abc123"
                            type: "Authorization"
                            status_code: "00"
                            nsu: "123456789"
                            event_date: "2026-03-11T10:00:00.000000Z"
                            message_acquisition: "Transação autorizada"
                          historics: []
                          card:
                            id: "card_abc123"
                            name: "JOAO SILVA"
                            type: "credit"
                            number: "411111****1111"
                            flag: "visa"
                      confirmation_codes: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/cancel/{code}:
    post:
      tags: [Cobranças]
      summary: Cancelar cobrança
      description: >
        Cancela uma cobrança existente que ainda não foi finalizada.
        Esta rota não aceita body — apenas o código da cobrança no path.
      operationId: cancelCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser cancelada
          schema:
            type: string
            example: "chg_abc123"
      responses:
        '200':
          description: Cobrança cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Charge chg_abc123 successfully canceled"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/refund/{code}:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      description: >
        Realiza o estorno (reembolso) de uma cobrança aprovada.
        O campo `value` no body é opcional; se não informado, o estorno é total.
        O valor deve ser enviado em **centavos**.
      operationId: refundCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser estornada
          schema:
            type: string
            example: "chg_abc123"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: integer
                  description: >
                    Valor a ser estornado em centavos (opcional).
                    Se omitido, o estorno é total.
                    Ex: para estornar R$ 50,00, envie 5000.
                  example: 5000
            example:
              value: 5000
      responses:
        '200':
          description: Estorno realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Cobrança chg_abc123 estornada com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '400':
          description: Erro no estorno (cobrança já estornada ou valor excede o disponível)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ja_estornada:
                  summary: Cobrança já estornada por completo
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro: []
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                valor_excede:
                  summary: Valor excede o disponível para estorno
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro: []
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # PEDIDOS
  # ─────────────────────────────────────────────────────────────────

  /v1/orders/{order_code}/confirmations:
    get:
      tags: [Pedidos]
      summary: Listar confirmações do pedido
      description: >
        Retorna a lista de confirmações (desafios de segurança) associadas a um pedido,
        ordenadas por data de criação (mais recente primeiro).
        Usado quando um pedido entra no status **Challenged** e requer verificação adicional (ex: OTP).
        Esta rota NÃO retorna o envelope padrão APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: getOrderConfirmations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
      responses:
        '200':
          description: Lista de confirmações retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmationsResponse'
              example:
                data:
                  - id: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
                    type: "otp"
                    status: "pending"
                    expires_at: "2026-03-11T10:15:00.000000Z"
        '400':
          description: Pedido não encontrado ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Pedido não encontrado."
                codigoretorno: 400
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/verify:
    post:
      tags: [Pedidos]
      summary: Verificar confirmação do pedido
      description: >
        Verifica/valida uma confirmação de pedido desafiado submetendo o código OTP recebido pelo cliente.
        Ao confirmar com sucesso, as cobranças pendentes do pedido são processadas.
        A resposta segue o mesmo formato da criação de cobrança (envelope APIReturnUtil com dados de consulta).
      operationId: verifyOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID (UUID) da confirmação a ser verificada
          schema:
            type: string
            format: uuid
            example: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Código de verificação OTP recebido pelo cliente
                  example: "123456"
            example:
              code: "123456"
      responses:
        '201':
          description: Cobrança processada com sucesso após confirmação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
        '400':
          description: >
            Erro de validação, pedido não encontrado, confirmação inválida,
            pedido não está em status Challenged, ou erro no processamento da cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Erro de validação (code ausente)
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "O campo code é obrigatório."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                order_not_found:
                  summary: Pedido não encontrado
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Pedido não encontrado."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                confirmation_not_found:
                  summary: Confirmação não encontrada ou código inválido
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Confirmação não encontrada."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                not_challenged:
                  summary: Pedido não está aguardando confirmação
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "O pedido não está aguardando confirmação."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                no_pending_charges:
                  summary: Nenhuma cobrança pendente
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Nenhuma cobrança pendente foi encontrada para este pedido."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/resend:
    post:
      tags: [Pedidos]
      summary: Reenviar confirmação do pedido
      description: >
        Reenvia o código de confirmação para o cliente (novo OTP por SMS/email).
        Invalidar confirmações pendentes anteriores e gera um novo código com validade de 15 minutos.
        Esta rota não aceita body.
      operationId: resendOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID (UUID) da confirmação
          schema:
            type: string
            format: uuid
            example: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
      responses:
        '201':
          description: Confirmação reenviada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Confirmação reenviada com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Pedido ou confirmação não encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order_not_found:
                  summary: Pedido não encontrado
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Pedido não encontrado."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                confirmation_not_found:
                  summary: Confirmação não encontrada
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Confirmação não encontrada."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []

  # ─────────────────────────────────────────────────────────────────
  # ASSINATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/subscriptions:
    post:
      tags: [Assinaturas]
      summary: Criar assinatura
      description: >
        Cria uma nova assinatura recorrente para um cliente. Suporta os métodos de pagamento:
        **CreditCard** e **PIX**.
        O campo `subscription.interval` define o ciclo em dias (ex: 30 para mensal).
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.
      operationId: createSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreSubscriptionRequest'
            example:
              international: false
              client:
                client_ip: "192.168.1.100"
                name: "Carlos Ferreira"
                email: "carlos@exemplo.com.br"
                gender: "Male"
                birthdate: "1985-06-20"
                phone:
                  ddi: 55
                  ddd: 11
                  number: "977776666"
                document:
                  type: "CPF"
                  number: "111.222.333-44"
                address:
                  zipcode: "04538-132"
                  street: "Rua Fidêncio Ramos"
                  number: 302
                  neighborhood: "Vila Olímpia"
                  complement: "Torre B"
                  city: "São Paulo"
                  state: "SP"
                  country: "Brasil"
              subscription:
                interval: 30
                code: "plano_mensal_001"
                description: "Plano Mensal Premium"
                installments: 1
                max_invoices: 12
                minimum_price: 9990
                billing_type: "prepaid"
                discounts:
                  cycles: 1
                  value: 10.0
                  type: "percentage"
                metadata:
                  origem: "site"
              payment:
                type: CreditCard
                card:
                  number: "4111111111111111"
                  name: "CARLOS FERREIRA"
                  month: "08"
                  year: "28"
                  security_code: "456"
              items:
                - id: "plano_premium"
                  description: "Acesso Premium Mensal"
                  amount: 99.90
                  quantity: 1
      responses:
        '200':
          description: Assinatura criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /v1/subscriptions/cancel/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Cancelar assinatura
      description: >
        Cancela uma assinatura ativa (status `Recurring`).
        A assinatura passa para o status `RecurringCanceled` e não será renovada.
        Esta rota não aceita body.
      operationId: cancelSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      responses:
        '200':
          description: Assinatura cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Assinatura cancelada com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/change-card/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar cartão da assinatura
      description: >
        Substitui o cartão de crédito vinculado a uma assinatura ativa (status `Recurring`).
        O novo cartão é criado e vinculado à assinatura para as próximas cobranças.
      operationId: changeSubscriptionCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCardRequest'
            example:
              name: "CARLOS FERREIRA"
              number: "5500000000000004"
              month: "09"
              year: "29"
              security_code: "789"
      responses:
        '200':
          description: Cartão alterado com sucesso
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          card_id:
                            type: string
                            format: uuid
                            description: ID do novo cartão criado
              example:
                mensagem: "Cartão alterado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  card_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/change-payment-method/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar método de pagamento da assinatura
      description: >
        Altera o método de pagamento de uma assinatura ativa (status `Recurring` ou `RecurringOverdue`).
        Ao mudar para `CreditCard`, os dados do novo cartão devem ser informados no objeto `card`.
      operationId: changeSubscriptionPaymentMethod
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePaymentMethodRequest'
            examples:
              para_pix:
                summary: Mudar para PIX
                value:
                  method: PIX
              para_cartao:
                summary: Mudar para Cartão de Crédito
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
      responses:
        '200':
          description: Método de pagamento alterado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Método de pagamento alterado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring ou RecurringOverdue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/invoices:
    get:
      tags: [Assinaturas]
      summary: Listar faturas da assinatura
      description: >
        Retorna as faturas (pedidos) geradas para uma assinatura, com suporte a filtro por status e limite.
        Cada fatura inclui seus itens e cobranças associadas.
        Os valores monetários são retornados em centavos.
        Esta rota NÃO retorna o envelope APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: listSubscriptionInvoices
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: status
          in: query
          required: false
          description: Filtrar faturas por status (StatusOrder)
          schema:
            type: string
            enum: [New, Canceled, Paid, ChargeBack, Reversed, PartialReversed, Reproved, Pending, Fail, Challenged, Unprocessed]
            example: Paid
        - name: limit
          in: query
          required: false
          description: Quantidade máxima de faturas a retornar (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
      responses:
        '200':
          description: Lista de faturas retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResponse'
              example:
                data:
                  - subscription_code: "sub_abc123"
                    code: "ord_xyz456"
                    status: "Paid"
                    amount: 9990
                    attempts: 1
                    created_at: "2026-03-11T10:00:00.000000Z"
                    items:
                      - id: "item_abc123"
                        unitary_amount: 9990
                        quantity: 1
                        code: "plano_premium"
                        name: "Acesso Premium Mensal"
                    charges:
                      - code: "chg_abc123"
                        status: "Paid"
                        amount: 9990
                        payment_type: "CreditCard"
                        installments: 1
                        account_client_card_id: "card_abc123"
                        payment:
                          type: "CreditCard"
                          card:
                            id: "card_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada ou não pertence à conta informada."
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/items:
    get:
      tags: [Assinaturas]
      summary: Listar itens da assinatura
      description: >
        Retorna os itens (produtos/serviços) vinculados a uma assinatura.
        Os dados vêm do campo `subs_data.items` da assinatura.
        Os valores monetários são retornados em centavos.
        Esta rota NÃO retorna o envelope APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: listSubscriptionItems
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: code
          in: query
          required: false
          description: Filtrar por código (id) do item (1-100 caracteres)
          schema:
            type: string
            minLength: 1
            maxLength: 100
            example: "plano_premium"
      responses:
        '200':
          description: Lista de itens retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemsResponse'
              example:
                data:
                  - code: "plano_premium"
                    amount: 9990
                    quantity: 1
                    description: "Acesso Premium Mensal"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada ou não pertence à conta informada."
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/items/{item_code}:
    put:
      tags: [Assinaturas]
      summary: Atualizar item da assinatura
      description: >
        Atualiza quantidade, valor ou descrição de um item vinculado a uma assinatura.
        Todos os campos do body são opcionais — informe apenas o que deseja alterar.
        O campo `amount` deve ser enviado em centavos.
      operationId: updateSubscriptionItem
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: item_code
          in: path
          required: true
          description: Código (id) do item no subs_data
          schema:
            type: string
            example: "plano_premium"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionItemRequest'
            example:
              quantity: 2
              amount: 8990
              description: "Acesso Premium Mensal - 2 usuários"
      responses:
        '200':
          description: Item atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Items atualizados com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura ou item não encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                subscription_not_found:
                  summary: Assinatura não encontrada
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Assinatura não encontrada ou não pertence à conta informada."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                item_not_found:
                  summary: Item não encontrado na assinatura
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Item não encontrado na assinatura."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []

  # ─────────────────────────────────────────────────────────────────
  # FATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/invoices/{invoice_code}/pay-overdue:
    post:
      tags: [Faturas]
      summary: Pagar fatura em atraso
      description: >
        Realiza o pagamento de uma fatura em atraso de uma assinatura.
        A fatura precisa estar em status `Pending` ou `Fail` e a assinatura precisa estar ativa.
        Cancela todas as cobranças pendentes anteriores antes de criar uma nova.
        Aceita qualquer método de pagamento: `CreditCard`, `PIX`.
        Ao usar `CreditCard`, o objeto `card` com os dados do cartão é obrigatório.
        Esta rota NÃO retorna o envelope APIReturnUtil no sucesso; retorna diretamente os dados da cobrança.
      operationId: payOverdueInvoice
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: invoice_code
          in: path
          required: true
          description: Código único da fatura (pedido)
          schema:
            type: string
            example: "ord_xyz456"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayOverdueInvoiceRequest'
            examples:
              cartao:
                summary: Pagar com Cartão de Crédito
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
              pix:
                summary: Pagar com PIX
                value:
                  method: PIX
      responses:
        '200':
          description: Cobrança criada e processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayOverdueInvoiceResponse'
              examples:
                credit_card:
                  summary: Pagamento com cartão de crédito
                  value:
                    invoice_code: "ord_xyz456"
                    code: "chg_abc123"
                    status: "Paid"
                    amount: 9990
                    canceled_amount: 0
                    installments: 1
                    payment:
                      type: "CreditCard"
                      card:
                        id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                pix:
                  summary: Pagamento com PIX
                  value:
                    invoice_code: "ord_xyz456"
                    code: "chg_abc123"
                    status: "Pending"
                    amount: 9990
                    canceled_amount: 0
                    installments: 1
                    payment:
                      type: "PIX"
                      pix:
                        qrcode_url: "https://api.example.com/pix/qrcode"
                        copy_paste: "00020101021226..."
                        expiration: "2026-03-11T10:30:00.000000Z"
        '400':
          description: Fatura não está pendente ou não pertence a uma assinatura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_pending:
                  summary: Fatura não está pendente
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Fatura não está pendente"
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                not_subscription:
                  summary: Compra não é uma assinatura
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "A compra não é uma assinatura válida"
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Fatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Fatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  # ─────────────────────────────────────────────────────────────────
  # ENDPOINTS DE WEBHOOK
  # ─────────────────────────────────────────────────────────────────

  /v1/webhook-endpoints:
    get:
      tags: [Endpoints de Webhook]
      summary: Listar endpoints de webhook
      description: >
        Retorna todos os endpoints de webhook cadastrados para a conta informada no header `account`.
        Requer autenticação Bearer.
      operationId: listWebhookEndpoints
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          description: Endpoints encontrados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointListResponse'
              example:
                mensagem: "Webhooks encontrados com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  - id: 1
                    url: "https://meusite.com.br/webhook"
                    events:
                      - "order.paid"
                      - "charge.failed"
                    status: "Ativo"
                    created_at: "2026-03-01T10:00:00.000000Z"
                    updated_at: "2026-03-10T15:30:00.000000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags: [Endpoints de Webhook]
      summary: Criar endpoint de webhook
      description: >
        Cria um novo endpoint de webhook para a conta informada no header `account`.
        O endpoint receberá notificações POST para os eventos selecionados.
        Requer autenticação Bearer.
      operationId: createWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
            example:
              url: "https://meusite.com.br/webhook"
              events:
                - "order.paid"
                - "charge.failed"
                - "subscription.canceled"
      responses:
        '201':
          description: Webhook criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIReturnWithId'
              example:
                mensagem: "Webhook criado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "42"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /v1/webhook-endpoints/{id}:
    put:
      tags: [Endpoints de Webhook]
      summary: Atualizar endpoint de webhook
      description: >
        Atualiza parcialmente um endpoint de webhook existente. Todos os campos são opcionais — envie apenas o que deseja alterar.
        Requer autenticação Bearer e que o webhook pertença à conta informada no header `account`.
      operationId: updateWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: id
          in: path
          required: true
          description: ID do webhook a ser atualizado
          schema:
            type: integer
            example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
            examples:
              atualizar_url:
                summary: Atualizar apenas a URL
                value:
                  url: "https://novo-site.com.br/webhook"
              atualizar_eventos:
                summary: Atualizar lista de eventos
                value:
                  events:
                    - "order.paid"
                    - "invoice.created"
              desativar:
                summary: Desativar o webhook
                value:
                  status: "Inativo"
      responses:
        '200':
          description: Webhook atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIReturnSuccess'
              example:
                mensagem: "Webhook atualizado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags: [Endpoints de Webhook]
      summary: Remover endpoint de webhook
      description: >
        Remove permanentemente um endpoint de webhook. O webhook deve pertencer à conta informada no header `account`.
        Requer autenticação Bearer.
      operationId: deleteWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: id
          in: path
          required: true
          description: ID do webhook a ser removido
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Webhook deletado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIReturnSuccess'
              example:
                mensagem: "Webhook deletado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token JWT obtido via `POST /v1/login`. Envie no header `Authorization: Bearer <token>`."

  parameters:
    AccountHeader:
      name: account
      in: header
      required: true
      description: Código da conta à qual a operação se aplica
      schema:
        type: string
        example: "acc_abc123xyz"

  responses:
    ValidationError:
      description: Erro de validação dos dados enviados
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          example:
            message: The given data was invalid.
            errors:
              client.email:
                - O campo client.email é obrigatório.
    Unauthorized:
      description: Não autorizado — token inválido ou ausente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: Unauthenticated.
            erro: true
            mensagenserro: []
            codigoretorno: 401
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "The charge code does not match any charge"
            erro: true
            mensagenserro: []
            codigoretorno: 404
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "Um erro inesperado acabou de acontecer."
            erro: true
            mensagenserro:
              - "Detalhe do erro ocorrido."
            codigoretorno: 400
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    ServerError:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "Um erro aconteceu."
            erro: true
            mensagenserro:
              - "Erro interno. Tente novamente mais tarde."
            codigoretorno: 500
            id: "00000000-0000-0000-0000-000000000000"
            data: []

  schemas:

    # ── Autenticação ──────────────────────────────────────────────

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: E-mail do usuário (obrigatório)
          example: usuario@exemplo.com.br
        password:
          type: string
          format: password
          description: Senha do usuário (obrigatório)
          example: "suaSenha123"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Token de acesso Bearer JWT
          example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
        token_type:
          type: string
          description: Tipo do token
          example: Bearer
        expires_at:
          type: string
          format: date-time
          description: Data/hora de expiração do token
          example: "2026-04-11T12:00:00.000000Z"

    NewUserRequest:
      type: object
      required: [name, email, password, password_confirmation]
      properties:
        name:
          type: string
          description: Nome completo do usuário (obrigatório)
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do usuário (obrigatório)
          example: "joao@exemplo.com.br"
        password:
          type: string
          format: password
          description: Senha (obrigatório)
          example: "suaSenha123"
        password_confirmation:
          type: string
          format: password
          description: Confirmação da senha (obrigatório, deve ser igual a password)
          example: "suaSenha123"

    UserProfile:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do usuário
          example: "usr_abc123"
        name:
          type: string
          description: Nome completo do usuário
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do usuário
          example: "joao@exemplo.com.br"
        path_avatar:
          type: string
          nullable: true
          description: URL do avatar do usuário
          example: "https://sua-api.com/storage/avatars/joao.jpg"
        admin_profile_id:
          type: string
          nullable: true
          description: ID do perfil de administrador (null se não for admin)
          example: null
        preferences:
          type: object
          description: Preferências gerais do usuário
          example: {}
        app_preferences:
          type: object
          description: Preferências do aplicativo mobile
          example: {}

    # ── Cliente / Checkout ─────────────────────────────────────────

    ClientData:
      type: object
      required: [name, email, phone]
      properties:
        name:
          type: string
          description: Nome completo do cliente (obrigatório, máx. 255 caracteres)
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do cliente (obrigatório)
          example: "joao@exemplo.com.br"
        gender:
          type: string
          description: Gênero do cliente (opcional)
          enum: [Male, Female, Other, Undefined]
          example: Male
        birthdate:
          type: string
          format: date
          description: Data de nascimento no formato YYYY-MM-DD (opcional)
          example: "1990-01-15"
        phone:
          $ref: '#/components/schemas/PhoneData'
        document:
          $ref: '#/components/schemas/DocumentData'
        address:
          $ref: '#/components/schemas/AddressData'

    ClientDataWithIp:
      allOf:
        - $ref: '#/components/schemas/ClientData'
        - type: object
          properties:
            client_ip:
              type: string
              format: ipv4
              description: Endereço IP do cliente (opcional)
              example: "192.168.1.100"

    PhoneData:
      type: object
      required: [ddi, ddd, number]
      properties:
        ddi:
          type: string
          description: Código do país (DDI) — obrigatório
          example: "55"
        ddd:
          type: string
          description: Código de área (DDD) — obrigatório
          example: "11"
        number:
          type: string
          description: Número do telefone sem DDD — obrigatório
          example: "999999999"

    DocumentData:
      type: object
      properties:
        type:
          type: string
          description: Tipo do documento (opcional para checkout, obrigatório para assinaturas)
          enum: [CPF, CNPJ, passport, undefined]
          example: CPF
        number:
          type: string
          description: Número do documento (opcional para checkout, obrigatório para assinaturas)
          example: "123.456.789-09"

    AddressData:
      type: object
      description: Endereço do cliente (obrigatório se o objeto address for enviado)
      properties:
        zipcode:
          type: string
          description: CEP (obrigatório quando address é enviado)
          example: "01310-100"
        street:
          type: string
          description: Logradouro (obrigatório quando address é enviado)
          example: "Avenida Paulista"
        number:
          type: integer
          description: Número do endereço (obrigatório quando address é enviado)
          example: 1000
        neighborhood:
          type: string
          description: Bairro (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "Bela Vista"
        complement:
          type: string
          description: Complemento (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "Apto 42"
        city:
          type: string
          description: Cidade (obrigatório quando address é enviado, máx. 255 caracteres)
          example: "São Paulo"
        state:
          type: string
          description: UF com 2 letras (obrigatório quando address é enviado)
          maxLength: 2
          example: "SP"
        country:
          type: string
          description: País (opcional, máx. 255 caracteres)
          example: "Brasil"

    CardData:
      type: object
      properties:
        number:
          type: string
          description: Número do cartão (obrigatório, mín. 13 dígitos)
          example: "4111111111111111"
        name:
          type: string
          description: Nome impresso no cartão (obrigatório)
          example: "JOAO SILVA"
        month:
          type: string
          description: Mês de validade MM (obrigatório)
          example: "12"
        year:
          type: string
          description: Ano de validade YY (obrigatório)
          example: "27"
        security_code:
          type: string
          description: Código de segurança CVV (obrigatório)
          example: "123"
        installments:
          type: integer
          description: Número de parcelas (obrigatório, mín. 1)
          minimum: 1
          example: 1
        soft_descriptor:
          type: string
          nullable: true
          description: Descrição que aparecerá na fatura do cartão (opcional, 3-50 caracteres)
          minLength: 3
          maxLength: 50
          example: "MINHA LOJA"

    PaymentData:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Método de pagamento (obrigatório)
          enum: [CreditCard, PIX]
          example: CreditCard
        pix_expiration:
          type: integer
          description: Tempo de expiração do PIX em segundos (opcional, mín. 1)
          minimum: 1
          example: 3600
        card:
          $ref: '#/components/schemas/CardData'

    ItemData:
      type: object
      required: [id, description, amount, quantity]
      properties:
        id:
          type: string
          description: Referência externa do item (obrigatório)
          example: "produto_001"
        description:
          type: string
          description: Descrição do item (obrigatório, máx. 255 caracteres)
          maxLength: 255
          example: "Camiseta Premium"
        amount:
          type: number
          format: float
          description: Valor unitário do item (obrigatório). Para testes em PIX, valores acima de R$ 300,00 pode resultar em erro.
          example: 99.90
        quantity:
          type: integer
          description: Quantidade do item (obrigatório)
          minimum: 1
          example: 2

    CheckoutRequest:
      type: object
      required: [client, payment, items]
      properties:
        international:
          type: boolean
          nullable: true
          description: Indica se é uma transação internacional (opcional, padrão false)
          example: false
        client:
          $ref: '#/components/schemas/ClientData'
        payment:
          $ref: '#/components/schemas/PaymentData'
        items:
          type: array
          description: Lista de itens da compra (obrigatório, mín. 1 item)
          items:
            $ref: '#/components/schemas/ItemData'
          example:
            - id: "produto_001"
              description: "Camiseta Premium"
              amount: 99.90
              quantity: 2

    # ── Assinaturas ───────────────────────────────────────────────

    SubscriptionData:
      type: object
      required: [interval]
      properties:
        interval:
          type: integer
          description: Intervalo de cobrança em dias (obrigatório, 1-365)
          minimum: 1
          maximum: 365
          example: 30
        code:
          type: string
          nullable: true
          description: Código identificador da assinatura (opcional, definido pelo integrador)
          example: "plano_mensal_001"
        description:
          type: string
          nullable: true
          description: Descrição da assinatura (opcional)
          example: "Plano Mensal Premium"
        installments:
          type: integer
          nullable: true
          description: Parcelas por cobrança (obrigatório se CreditCard, 1-12)
          minimum: 1
          maximum: 12
          example: 1
        max_invoices:
          type: integer
          nullable: true
          description: Número máximo de faturas a serem geradas (opcional, mín. 1)
          minimum: 1
          example: 12
        minimum_price:
          type: integer
          nullable: true
          description: Preço mínimo em centavos (opcional)
          example: 9990
        start_date:
          type: string
          nullable: true
          description: "Data de início da cobrança (opcional, formato `Y-m-d H:i:s`, deve ser após amanhã)"
          example: "2026-04-01 00:00:00"
        billing_type:
          type: string
          nullable: true
          description: Tipo de cobrança da assinatura (opcional)
          enum: [prepaid]
          example: prepaid
        billing_day:
          type: integer
          nullable: true
          description: Dia do mês para cobrança (obrigatório se billing_type=exact_day, 1-31)
          minimum: 1
          maximum: 31
          example: 10
        discounts:
          type: object
          nullable: true
          description: Desconto a ser aplicado nas faturas (opcional)
          properties:
            cycles:
              type: integer
              description: Número de ciclos com desconto
              example: 3
            value:
              type: number
              description: Valor do desconto
              example: 10.0
            type:
              type: string
              description: Tipo do desconto
              enum: [percentage, flat]
              example: percentage
        increments:
          type: object
          nullable: true
          description: Acréscimo a ser aplicado nas faturas (opcional)
          properties:
            cycles:
              type: integer
              example: 2
            value:
              type: number
              example: 5.0
            type:
              type: string
              enum: [percentage, flat]
              example: flat
        metadata:
          type: object
          nullable: true
          description: Metadados adicionais em formato livre (opcional)
          example:
            origem: "site"
            campanha: "black-friday"

    PaymentDataSubscription:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Método de pagamento (obrigatório, CreditCard ou PIX)
          enum: [CreditCard, PIX]
          example: CreditCard
        pix_expiration:
          type: integer
          nullable: true
          description: Expiração do PIX em segundos (obrigatório se type=PIX)
          example: 3600
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório)
          properties:
            number:
              type: string
              description: Número do cartão (mín. 13 dígitos)
              example: "4111111111111111"
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            month:
              type: string
              description: Mês de validade
              example: "08"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "456"
            soft_descriptor:
              type: string
              nullable: true
              description: Texto na fatura (opcional, máx. 50 caracteres)
              example: "MINHA EMPRESA"

    StoreSubscriptionRequest:
      type: object
      required: [client, subscription, payment, items]
      properties:
        international:
          type: boolean
          nullable: true
          description: Indica se é uma transação internacional (opcional)
          example: false
        client:
          $ref: '#/components/schemas/ClientDataWithIp'
        subscription:
          $ref: '#/components/schemas/SubscriptionData'
        payment:
          $ref: '#/components/schemas/PaymentDataSubscription'
        items:
          type: array
          description: Lista de itens da assinatura (obrigatório)
          items:
            $ref: '#/components/schemas/ItemData'

    ChangeCardRequest:
      type: object
      required: [name, number, month, year, security_code]
      properties:
        name:
          type: string
          description: Nome do titular do cartão (obrigatório)
          example: "CARLOS FERREIRA"
        number:
          type: string
          description: Número do cartão (obrigatório)
          example: "5500000000000004"
        month:
          type: string
          description: Mês de validade do cartão (obrigatório)
          example: "09"
        year:
          type: string
          description: Ano de validade do cartão (obrigatório)
          example: "29"
        security_code:
          type: string
          description: Código de segurança do cartão (obrigatório)
          example: "789"

    ChangePaymentMethodRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          description: Novo método de pagamento (obrigatório)
          enum: [CreditCard, PIX]
          example: PIX
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório se method=CreditCard)
          properties:
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            number:
              type: string
              description: Número do cartão
              example: "4111111111111111"
            month:
              type: string
              description: Mês de validade
              example: "12"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "321"

    UpdateSubscriptionItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          nullable: true
          description: Nova quantidade do item (opcional, mín. 1)
          minimum: 1
          example: 2
        amount:
          type: integer
          nullable: true
          description: Novo valor em centavos (opcional, 0-1000000)
          minimum: 0
          maximum: 1000000
          example: 8990
        description:
          type: string
          nullable: true
          description: Nova descrição do item (opcional, máx. 255 caracteres)
          maxLength: 255
          example: "Acesso Premium Mensal - 2 usuários"

    # ── Faturas ───────────────────────────────────────────────────

    PayOverdueInvoiceRequest:
      type: object
      required: [method]
      properties:
        method:
          type: string
          description: Método de pagamento para quitação (obrigatório)
          enum: [CreditCard, PIX]
          example: CreditCard
        card:
          type: object
          nullable: true
          description: Dados do cartão (obrigatório se method=CreditCard)
          properties:
            name:
              type: string
              description: Nome no cartão
              example: "CARLOS FERREIRA"
            number:
              type: string
              description: Número do cartão
              example: "4111111111111111"
            month:
              type: string
              description: Mês de validade
              example: "12"
            year:
              type: string
              description: Ano de validade
              example: "28"
            security_code:
              type: string
              description: CVV
              example: "321"

    PayOverdueInvoiceResponse:
      type: object
      description: >
        Resposta do pagamento de fatura em atraso. Esta rota NÃO usa o envelope APIReturnUtil;
        retorna diretamente os dados da cobrança criada.
      properties:
        invoice_code:
          type: string
          description: Código da fatura (pedido)
          example: "ord_xyz456"
        code:
          type: string
          description: Código da cobrança criada
          example: "chg_abc123"
        status:
          type: string
          description: Status da cobrança
          example: "Pending"
        amount:
          type: integer
          description: Valor da cobrança em centavos
          example: 9990
        canceled_amount:
          type: number
          description: Valor cancelado
          example: 0
        installments:
          type: integer
          description: Número de parcelas
          example: 1
        payment:
          type: object
          properties:
            type:
              type: string
              description: Tipo de pagamento
              example: "CreditCard"
            pix:
              type: object
              nullable: true
              description: Presente apenas quando type é PIX
              properties:
                qrcode_url:
                  type: string
                  example: "https://api.example.com/pix/qrcode"
                copy_paste:
                  type: string
                  example: "00020101021226..."
                expiration:
                  type: string
                  format: date-time
                  example: "2026-03-11T10:30:00.000000Z"
            card:
              type: object
              nullable: true
              description: Presente apenas quando type é CreditCard
              properties:
                id:
                  type: string
                  format: uuid
                  example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    # ── Clientes Bloqueados ───────────────────────────────────────

    BlockClientsRequest:
      type: object
      required: [type, data]
      properties:
        type:
          type: string
          description: Tipo de dado para bloqueio (obrigatório)
          enum: [cpf, email]
          example: email
        data:
          type: array
          description: Lista de emails ou CPFs a bloquear (obrigatório)
          items:
            type: string
          example:
            - "spam@exemplo.com.br"
            - "fraude@exemplo.com.br"

    BlockedClientItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do registro de bloqueio
          example: "550e8400-e29b-41d4-a716-446655440000"
        account_code:
          type: string
          description: Código da conta que realizou o bloqueio
          example: "acc_abc123"
        email:
          type: string
          nullable: true
          description: E-mail bloqueado (nulo se bloqueio por CPF)
          example: "spam@exemplo.com.br"
        document:
          type: string
          nullable: true
          description: CPF formatado (nulo se bloqueio por e-mail)
          example: "123.456.789-09"
        type_document:
          type: string
          nullable: true
          description: Tipo do documento bloqueado
          example: CPF
        type:
          type: string
          description: Tipo de bloqueio (Manual, Automatic, etc.)
          example: "Manual"
        created_at:
          type: string
          format: date-time
          example: "2026-02-15T10:30:00.000000Z"

    # ── Contas ────────────────────────────────────────────────────

    AccountRequest:
      type: object
      properties:
        name:
          type: string
          description: Nome da conta (loja/empresa)
          example: "Minha Loja"
        corporate_name:
          type: string
          description: Razão social
          example: "Minha Loja LTDA"
        timezone:
          type: string
          description: Fuso horário da conta
          example: "America/Sao_Paulo"
        coin:
          type: string
          description: Moeda padrão da conta (código ISO 4217)
          example: "BRL"

    AccountItem:
      type: object
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          description: Código único da conta
          example: "acc_abc123"
        name:
          type: string
          example: "Minha Loja"
        corporate_name:
          type: string
          nullable: true
          example: "Minha Loja LTDA"
        timezone:
          type: string
          example: "America/Sao_Paulo"
        coin:
          type: string
          example: "BRL"
        integration:
          type: object
          nullable: true
          description: Configurações de integração com gateways
          example: {}
        settings:
          type: object
          nullable: true
          description: Configurações da conta
          example: {}
        created_at:
          type: string
          format: date-time
          example: "2026-01-01T00:00:00.000000Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-03-01T00:00:00.000000Z"

    # ── Respostas de Cobranças ─────────────────────────────────────

    ChargeConsultData:
      type: object
      description: Dados completos de uma cobrança retornados pelo ConsultCharge
      properties:
        charge_id:
          type: string
          format: uuid
          description: ID interno da cobrança
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        charge_created_at:
          type: string
          description: Data de criação da cobrança (formatada)
          example: "11/03/2026 10:00:00"
        account_id:
          type: integer
          description: ID interno da conta
          example: 1
        code:
          type: string
          description: Código da compra (purchase code)
          example: "pur_abc123xyz"
        value:
          type: number
          format: float
          description: Valor total da compra
          example: 199.80
        charge_value:
          type: number
          format: float
          description: Valor da cobrança
          example: 199.80
        coin:
          type: string
          description: Moeda da transação
          example: "BRL"
        status:
          type: string
          description: Status da compra
          enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
          example: Approved
        client:
          $ref: '#/components/schemas/ChargeClientData'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/ChargeOrderData'

    ChargeClientData:
      type: object
      description: Dados do cliente associado à cobrança
      properties:
        code:
          type: string
          description: Código do cliente
          example: "cli_abc123"
        name:
          type: string
          description: Nome do cliente
          example: "João Silva"
        email:
          type: string
          format: email
          description: E-mail do cliente
          example: "joao@exemplo.com.br"
        documents:
          type: array
          description: Documentos do cliente (filtrado pelo documento padrão)
          items:
            type: object
            properties:
              type:
                type: string
                example: "CPF"
              number:
                type: string
                example: "123.456.789-09"
              default:
                type: boolean
                example: true
        phone:
          type: array
          description: Telefones do cliente (filtrado pelo telefone padrão)
          items:
            type: object
            properties:
              ddi:
                type: string
                example: "55"
              ddd:
                type: string
                example: "11"
              number:
                type: string
                example: "999999999"
              default:
                type: boolean
                example: true
        addresss:
          type: array
          description: Endereços do cliente (filtrado pelo endereço padrão)
          items:
            type: object
            properties:
              zipcode:
                type: string
                example: "01310-100"
              street:
                type: string
                example: "Avenida Paulista"
              number:
                type: string
                example: "1000"
              neighborhood:
                type: string
                example: "Bela Vista"
              city:
                type: string
                example: "São Paulo"
              state:
                type: string
                example: "SP"

    ChargeOrderData:
      type: object
      description: Dados do pedido associado à cobrança
      properties:
        code:
          type: string
          description: Código do pedido
          example: "ord_abc123xyz"
        status:
          type: string
          description: Status do pedido
          enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
          example: Approved
        value:
          type: number
          format: float
          description: Valor do pedido
          example: 199.80
        error_message:
          type: string
          nullable: true
          description: Mensagem de erro do gateway (null se não houver)
          example: null
        items:
          type: array
          description: Itens do pedido
          items:
            type: object
            properties:
              code:
                type: string
                description: Código do item
                example: "produto_001"
              name:
                type: string
                description: Nome do item
                example: "Camiseta Premium"
              unitary_value:
                type: number
                format: float
                description: Valor unitário do item
                example: 99.90
              quantity:
                type: integer
                description: Quantidade
                example: 2
        charges:
          type: array
          description: Cobranças associadas ao pedido
          items:
            $ref: '#/components/schemas/ChargeDetailData'
        confirmation_codes:
          type: array
          description: Códigos de confirmação pendentes (para pedidos com status Challenged)
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: "conf_xyz789"
              type:
                type: string
                example: "OTP"
              status:
                type: string
                example: "Pending"
              expires_at:
                type: string
                format: date-time
                example: "2026-03-11T10:15:00.000000Z"

    ChargeDetailData:
      type: object
      description: Dados detalhados de uma cobrança dentro de um pedido
      properties:
        code:
          type: string
          description: Código da cobrança
          example: "chg_abc123"
        status:
          type: string
          description: Status da cobrança
          enum: [Pending, Challenged, Approved, Declined, Refunded, Canceled]
          example: Approved
        value:
          type: number
          format: float
          description: Valor cobrado
          example: 199.80
        canceled_amount:
          type: number
          format: float
          nullable: true
          description: Valor já estornado
          example: 0
        nsu:
          type: string
          nullable: true
          description: NSU (Número Sequencial Único) da transação
          example: "123456789"
        installments:
          type: integer
          description: Número de parcelas
          example: 1
        attempts:
          type: integer
          description: Número de tentativas de cobrança
          example: 1
        payment:
          type: object
          description: Dados do pagamento
          properties:
            code:
              type: string
              nullable: true
              description: Código do pagamento (ex. código PIX)
              example: null
            copy_paste:
              type: string
              nullable: true
              description: Código copia e cola do PIX
              example: null
            expiration:
              type: string
              nullable: true
              description: Data/hora de expiração do pagamento
              example: null
            payment_type:
              type: string
              description: Tipo de pagamento utilizado
              enum: [CreditCard, PIX]
              example: CreditCard
            installments:
              type: integer
              description: Número de parcelas
              example: 1
        last_transaction:
          type: object
          nullable: true
          description: Dados da última transação no gateway
          properties:
            transaction_id:
              type: string
              example: "txn_abc123"
            type:
              type: string
              example: "Authorization"
            status_code:
              type: string
              example: "00"
            nsu:
              type: string
              example: "123456789"
            tid:
              type: string
              example: "tid_abc123"
            event_date:
              type: string
              format: date-time
              example: "2026-03-11T10:00:00.000000Z"
            order_code:
              type: string
              example: "ord_abc123xyz"
            message_acquisition:
              type: string
              example: "Transação autorizada"
            return_code:
              type: string
              example: "00"
            return_message:
              type: string
              example: "Sucesso"
            amount:
              type: number
              nullable: true
              example: 19980
        historics:
          type: array
          description: Histórico de transações da cobrança
          items:
            type: object
            properties:
              transaction_id:
                type: string
              type:
                type: string
              status_code:
                type: string
              nsu:
                type: string
              tid:
                type: string
              event_date:
                type: string
                format: date-time
              order_code:
                type: string
              message_acquisition:
                type: string
              return_code:
                type: string
              return_message:
                type: string
              operation_type:
                type: string
              amount:
                type: number
                nullable: true
        card:
          type: object
          nullable: true
          description: Dados do cartão utilizado (mascarado)
          properties:
            id:
              type: string
              format: uuid
              example: "card_abc123"
            name:
              type: string
              description: Nome no cartão
              example: "JOAO SILVA"
            type:
              type: string
              description: Tipo do cartão
              example: "credit"
            number:
              type: string
              description: Número mascarado do cartão
              example: "411111****1111"
            flag:
              type: string
              description: Bandeira do cartão
[...]
