openapi: 3.1.0
info:
  title: 4Selet Pay API
  description: >
    API de processamento de pagamentos da plataforma 4Selet Pay.
    Suporta cobranças únicas, assinaturas recorrentes, PIX, Cartão de Crédito.
    Todas as rotas autenticadas requerem um Bearer Token obtido via `/v1/login`.
  version: 1.0.0
  contact:
    name: 4Selet Pay
    email: suporte@4selet.com.br

servers:
  - url: https://sandbox.4seletpay.com.br/api
    description: Servidor de Sandbox

security:
  - bearerAuth: []

tags:
  - name: Autenticação
    description: Rotas de autenticação e criação de usuários
  - name: Cobranças
    description: Criação, consulta, cancelamento e reembolso de cobranças
  - name: Pedidos
    description: Consulta de pedidos e gerenciamento de confirmações desafiadas
  - name: Cartões
    description: Cadastro e gerenciamento dos cartões salvos de um cliente
  - name: Assinaturas
    description: Criação e gerenciamento de assinaturas recorrentes
  - name: Faturas
    description: Gerenciamento de faturas e pagamento de faturas em atraso
  - name: Clientes Bloqueados
    description: Gerenciamento de lista negra de clientes
  - name: Contas
    description: Criação e gerenciamento de contas na plataforma
  - name: Aplicativo
    description: Endpoints para dashboard e uso via aplicativo mobile
  - name: Notificações Push
    description: Envio e gerenciamento de notificações push
  - name: Utilitários
    description: Endpoints utilitários como listagem de fusos horários
  - name: Gestão
    description: Relatórios gerenciais (acesso restrito a Super Admins)
  - name: Webhooks
    description: Endpoints para receber notificações de gateways de pagamento
  - name: Endpoints de Webhook
    description: Gerenciamento de endpoints de webhook para receber notificações de eventos da plataforma
  - name: Links de Pagamento
    description: Criação e gerenciamento de links de pagamento com checkout pré-configurado
  - name: Análise de Fraude
    description: API de Risco — consulta o risco de fraude de uma transação (autenticada por chave de API)

paths:

  # ─────────────────────────────────────────────────────────────────
  # AUTENTICAÇÃO
  # ─────────────────────────────────────────────────────────────────

  /v1/check:
    get:
      tags: [Autenticação]
      summary: Verificar status da API
      description: Retorna uma mensagem confirmando que a API está em funcionamento. Útil para health checks.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API em funcionamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API is running
              example:
                message: API is running

  /v1/login:
    post:
      tags: [Autenticação]
      summary: Realizar login
      description: >
        Autentica o usuário com email e senha e retorna um Bearer Token para uso nas demais rotas.
        O token tem prazo de expiração informado na resposta.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: usuario@exemplo.com.br
              password: "suaSenha123"
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                access_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                token_type: Bearer
                expires_at: "2026-04-11T12:00:00.000000Z"
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: Invalid Credentials
        '422':
          $ref: '#/components/responses/ValidationError'

  # ─────────────────────────────────────────────────────────────────
  # COBRANÇAS
  # ─────────────────────────────────────────────────────────────────

  /v1/charge:
    post:
      tags: [Cobranças]
      summary: Criar cobrança
      description: >
        Cria uma nova cobrança (pedido de pagamento). Suporta os métodos de pagamento:
        **CreditCard**, **PIX**.
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.


        Possíveis cenários de resposta:

        - **201** — Cobrança processada com sucesso (aprovada ou aguardando pagamento PIX)

        - **202** — Transação desafiada (requer confirmação adicional via OTP)

        - **400** — Fraude detectada ou erro no processamento do gateway

        - **422** — Erro de validação dos dados enviados
      operationId: createCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            examples:
              cartao_credito:
                summary: Pagamento com Cartão de Crédito
                value:
                  international: false
                  client:
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    gender: "Male"
                    birthdate: "1990-01-15"
                    phone:
                      ddi: "55"
                      ddd: "11"
                      number: "999999999"
                    document:
                      type: "CPF"
                      number: "123.456.789-09"
                    address:
                      zipcode: "01310-100"
                      street: "Avenida Paulista"
                      number: 1000
                      neighborhood: "Bela Vista"
                      complement: "Apto 42"
                      city: "São Paulo"
                      state: "SP"
                      country: "Brasil"
                  payment:
                    type: CreditCard
                    card:
                      number: "4111111111111111"
                      name: "JOAO SILVA"
                      month: "12"
                      year: "27"
                      security_code: "123"
                      installments: 1
                      soft_descriptor: "MINHA LOJA"
                  items:
                    - id: "produto_001"
                      description: "Camiseta Premium"
                      amount: 99.90
                      quantity: 2
              cartao_credito_salvo:
                summary: Pagamento com cartão salvo (card_token)
                value:
                  client:
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "11"
                      number: "999999999"
                    document:
                      type: "CPF"
                      number: "123.456.789-09"
                  payment:
                    type: CreditCard
                    card:
                      card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                      installments: 1
                  items:
                    - id: "produto_001"
                      description: "Camiseta Premium"
                      amount: 99.90
                      quantity: 2
              pix:
                summary: Pagamento com PIX
                value:
                  international: false
                  client:
                    name: "Maria Santos"
                    email: "maria@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "21"
                      number: "988887777"
                    document:
                      type: "CPF"
                      number: "987.654.321-00"
                  payment:
                    type: PIX
                    pix_expiration: 3600
                  items:
                    - id: "curso_001"
                      description: "Curso Online"
                      amount: 297.00
                      quantity: 1
      responses:
        '201':
          description: Cobrança processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
              example:
                mensagem: "Cobrança realizada com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  charge_created_at: "11/03/2026 10:00:00"
                  account_id: 1
                  code: "pur_abc123xyz"
                  value: 199.80
                  charge_value: 199.80
                  coin: "BRL"
                  status: "Approved"
                  client:
                    code: "cli_abc123"
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Approved"
                      value: 199.80
                      charges:
                        - code: "chg_abc123"
                          status: "Approved"
                          value: 199.80
                          installments: 1
                          payment:
                            payment_type: "CreditCard"
                            installments: 1
                            card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
        '202':
          description: Transação desafiada — requer confirmação adicional (OTP)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
              example:
                mensagem: "A transação necessita de confirmação..."
                erro: false
                mensagenserro: []
                codigoretorno: 202
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  status: "Challenged"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Challenged"
                      confirmation_codes:
                        - id: "conf_xyz789"
                          type: "OTP"
                          status: "Pending"
                          expires_at: "2026-03-11T10:15:00.000000Z"
        '400':
          description: Fraude detectada ou erro no gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Não foi possível concluir sua transação."
                erro: true
                mensagenserro:
                  - "Verifique as informações e tente novamente."
                codigoretorno: 400
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      description: >
        Retorna a lista paginada de cobranças da conta informada no header `account`.
        A resposta segue o formato padrão de paginação do Laravel (não é envelopada pelo formato APIReturnUtil).
      operationId: listCharges
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: page
          in: query
          required: false
          description: Número da página (gerenciado automaticamente pelo paginador Laravel)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: Quantidade de itens por página
          schema:
            type: integer
            default: 10
            example: 10
        - name: search
          in: query
          required: false
          description: Texto para busca nos campos da listagem
          schema:
            type: string
            example: "joao"
        - name: id
          in: query
          required: false
          description: Filtrar por ID específico da cobrança
          schema:
            type: string
            example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        - name: with_trashed
          in: query
          required: false
          description: Incluir registros soft-deleted (1 = sim, 0 = não)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
            example: 0
        - name: trashed_only
          in: query
          required: false
          description: Retornar apenas registros soft-deleted (1 = sim, 0 = não)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
            example: 0
      responses:
        '200':
          description: Lista de cobranças retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedChargesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/charge/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      description: >
        Retorna os detalhes completos de uma cobrança específica pelo seu código.
        Os dados são cacheados para melhor performance.
      operationId: getCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança
          schema:
            type: string
            example: "chg_abc123"
      responses:
        '200':
          description: Dados da cobrança retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeConsultResponse'
              example:
                mensagem: "Charge found"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  charge_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  charge_created_at: "11/03/2026 10:00:00"
                  account_id: 1
                  code: "pur_abc123xyz"
                  value: 199.80
                  charge_value: 199.80
                  coin: "BRL"
                  status: "Approved"
                  client:
                    code: "cli_abc123"
                    name: "João Silva"
                    email: "joao@exemplo.com.br"
                    documents:
                      - type: "CPF"
                        number: "123.456.789-09"
                        default: true
                    phone:
                      - ddi: "55"
                        ddd: "11"
                        number: "999999999"
                        default: true
                    addresss:
                      - zipcode: "01310-100"
                        street: "Avenida Paulista"
                        number: "1000"
                        neighborhood: "Bela Vista"
                        city: "São Paulo"
                        state: "SP"
                  orders:
                    - code: "ord_abc123xyz"
                      status: "Approved"
                      value: 199.80
                      error_message: null
                      items:
                        - code: "produto_001"
                          name: "Camiseta Premium"
                          unitary_value: 99.90
                          quantity: 2
                      charges:
                        - code: "chg_abc123"
                          status: "Approved"
                          value: 199.80
                          canceled_amount: 0
                          nsu: "123456789"
                          installments: 1
                          attempts: 1
                          payment:
                            code: null
                            copy_paste: null
                            expiration: null
                            payment_type: "CreditCard"
                            installments: 1
                            card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                          last_transaction:
                            transaction_id: "txn_abc123"
                            type: "Authorization"
                            status_code: "00"
                            nsu: "123456789"
                            event_date: "2026-03-11T10:00:00.000000Z"
                            message_acquisition: "Transação autorizada"
                          historics: []
                          card:
                            id: "card_abc123"
                            name: "JOAO SILVA"
                            type: "credit"
                            number: "411111****1111"
                            flag: "visa"
                      confirmation_codes: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/cancel/{code}:
    post:
      tags: [Cobranças]
      summary: Cancelar cobrança
      description: >
        Cancela uma cobrança existente que ainda não foi finalizada.
        Esta rota não aceita body — apenas o código da cobrança no path.
      operationId: cancelCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser cancelada
          schema:
            type: string
            example: "chg_abc123"
      responses:
        '200':
          description: Cobrança cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Charge chg_abc123 successfully canceled"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/charge/refund/{code}:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      description: >
        Realiza o estorno (reembolso) de uma cobrança aprovada.
        O campo `value` no body é opcional; se não informado, o estorno é total.
        O valor deve ser enviado em **centavos**.
      operationId: refundCharge
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único da cobrança a ser estornada
          schema:
            type: string
            example: "chg_abc123"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: integer
                  description: >
                    Valor a ser estornado em centavos (opcional).
                    Se omitido, o estorno é total.
                    Ex: para estornar R$ 50,00, envie 5000.
                  example: 5000
            example:
              value: 5000
      responses:
        '200':
          description: Estorno realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Cobrança chg_abc123 estornada com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '400':
          description: Erro no estorno (cobrança já estornada ou valor excede o disponível)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ja_estornada:
                  summary: Cobrança já estornada por completo
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro: []
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                valor_excede:
                  summary: Valor excede o disponível para estorno
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro: []
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # PEDIDOS
  # ─────────────────────────────────────────────────────────────────

  /v1/orders/{order_code}/confirmations:
    get:
      tags: [Pedidos]
      summary: Listar confirmações do pedido
      description: >
        Retorna a lista de confirmações (desafios de segurança) associadas a um pedido,
        ordenadas por data de criação (mais recente primeiro).
        Usado quando um pedido entra no status **Challenged** e requer verificação adicional (ex: OTP).
        Esta rota NÃO retorna o envelope padrão APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: getOrderConfirmations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
      responses:
        '200':
          description: Lista de confirmações retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmationsResponse'
              example:
                data:
                  - id: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
                    type: "otp"
                    status: "pending"
                    expires_at: "2026-03-11T10:15:00.000000Z"
        '400':
          description: Pedido não encontrado ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Pedido não encontrado."
                codigoretorno: 400
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/verify:
    post:
      tags: [Pedidos]
      summary: Verificar confirmação do pedido
      description: >
        Verifica/valida uma confirmação de pedido desafiado submetendo o código OTP recebido pelo cliente.
        Ao confirmar com sucesso, as cobranças pendentes do pedido são processadas.
        A resposta segue o mesmo formato da criação de cobrança (envelope APIReturnUtil com dados de consulta).
      operationId: verifyOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID (UUID) da confirmação a ser verificada
          schema:
            type: string
            format: uuid
            example: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Código de verificação OTP recebido pelo cliente
                  example: "123456"
            example:
              code: "123456"
      responses:
        '201':
          description: Cobrança processada com sucesso após confirmação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
        '400':
          description: >
            Erro de validação, pedido não encontrado, confirmação inválida,
            pedido não está em status Challenged, ou erro no processamento da cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Erro de validação (code ausente)
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "O campo code é obrigatório."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                order_not_found:
                  summary: Pedido não encontrado
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Pedido não encontrado."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                confirmation_not_found:
                  summary: Confirmação não encontrada ou código inválido
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Confirmação não encontrada."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                not_challenged:
                  summary: Pedido não está aguardando confirmação
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "O pedido não está aguardando confirmação."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                no_pending_charges:
                  summary: Nenhuma cobrança pendente
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Nenhuma cobrança pendente foi encontrada para este pedido."
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orders/{order_code}/confirmations/{confirmation_id}/resend:
    post:
      tags: [Pedidos]
      summary: Reenviar confirmação do pedido
      description: >
        Reenvia o código de confirmação para o cliente (novo OTP por SMS/email).
        Invalidar confirmações pendentes anteriores e gera um novo código com validade de 15 minutos.
        Esta rota não aceita body.
      operationId: resendOrderConfirmation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: order_code
          in: path
          required: true
          description: Código único do pedido
          schema:
            type: string
            example: "ord_abc123xyz"
        - name: confirmation_id
          in: path
          required: true
          description: ID (UUID) da confirmação
          schema:
            type: string
            format: uuid
            example: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
      responses:
        '201':
          description: Confirmação reenviada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Confirmação reenviada com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "d5e6f7a8-b9c0-1234-5678-abcdef012345"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Pedido ou confirmação não encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order_not_found:
                  summary: Pedido não encontrado
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Pedido não encontrado."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                confirmation_not_found:
                  summary: Confirmação não encontrada
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Confirmação não encontrada."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []

  # ─────────────────────────────────────────────────────────────────
  # CARTÕES
  # ─────────────────────────────────────────────────────────────────

  /v1/clients/{clientCode}/cards:
    get:
      tags: [Cartões]
      summary: Listar cartões
      description: >
        Retorna todos os cartões salvos do cliente, do mais recente para o mais antigo,
        no campo `data.cards`. O número completo (PAN) e o CVV nunca são retornados.
        Requer o header `account` com o código da conta.
      operationId: listClientCards
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ClientCode'
      responses:
        '200':
          description: Lista de cartões retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartaoListResponse'
              example:
                mensagem: "Cartões listados com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  cards:
                    - id: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                      card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                      first_six_digits: "542501"
                      last_four_digits: "8229"
                      brand: "amex"
                      holder_name: "Tony Stark"
                      exp_month: 1
                      exp_year: 2030
                      type: "credit"
                      status: "active"
                      tokenization_status: "tokenized"
                      created_at: "2026-03-28T22:09:43-03:00"
                      updated_at: "2026-03-28T22:09:43-03:00"
                    - id: "1a7d3f90-6b2c-4e18-9a5f-7c8e2d1b4a3c"
                      card_token: "1a7d3f90-6b2c-4e18-9a5f-7c8e2d1b4a3c"
                      first_six_digits: "411193"
                      last_four_digits: "6203"
                      brand: "visa"
                      holder_name: "Tony Stark"
                      exp_month: 1
                      exp_year: 2030
                      type: "credit"
                      status: "active"
                      tokenization_status: "tokenized"
                      created_at: "2026-03-29T22:09:43-03:00"
                      updated_at: "2026-03-29T22:09:43-03:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/clients/{clientCode}/cards/{cardId}:
    get:
      tags: [Cartões]
      summary: Consultar cartão
      description: >
        Retorna os dados de um cartão específico do cliente pelo seu `id` (UUID).
        O número completo (PAN) e o CVV nunca são retornados.
        Requer o header `account` com o código da conta.
      operationId: getClientCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ClientCode'
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Dados do cartão retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartaoResponse'
              example:
                mensagem: "Cartão encontrado."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  id: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  first_six_digits: "542501"
                  last_four_digits: "7793"
                  brand: "mastercard"
                  holder_name: "Tony Stark"
                  exp_month: 1
                  exp_year: 2030
                  type: "credit"
                  status: "active"
                  tokenization_status: "tokenized"
                  created_at: "2026-05-27T10:00:00-03:00"
                  updated_at: "2026-05-27T10:00:00-03:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Cartões]
      summary: Atualizar cartão
      description: >
        Atualiza os dados editáveis de um cartão. Apenas `name`, `type`, `flag` e a validade
        (`month` + `year`, enviados juntos) podem ser alterados. O número e o código de segurança
        são imutáveis. Ao alterar a validade, a tokenização do cartão é reiniciada e o resultado
        é enviado por webhook (`card.token_created` / `card.token_failed`). Um evento
        `card.updated` é emitido a cada atualização. Requer o header `account` com o código da conta.
      operationId: updateClientCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ClientCode'
        - $ref: '#/components/parameters/CardId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartaoRequest'
            example:
              name: "Peter Parker"
              month: 12
              year: 2030
      responses:
        '200':
          description: Cartão atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartaoResponse'
              example:
                mensagem: "Cartão atualizado com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  id: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  first_six_digits: "542501"
                  last_four_digits: "7793"
                  brand: "mastercard"
                  holder_name: "Peter Parker"
                  exp_month: 12
                  exp_year: 2030
                  type: "credit"
                  status: "active"
                  tokenization_status: "tokenized"
                  created_at: "2026-04-03T20:54:58-03:00"
                  updated_at: "2026-04-04T12:25:32-03:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags: [Cartões]
      summary: Excluir cartão
      description: >
        Remove um cartão (soft delete): o registro passa a ter `status` `deleted` com `deleted_at`
        preenchido, e seus tokens são removidos. Um cartão vinculado a uma assinatura
        ativa não pode ser excluído (retorna `409 Conflict`). Um evento `card.deleted` é emitido.
        Requer o header `account` com o código da conta.
      operationId: deleteClientCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ClientCode'
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Cartão excluído com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartaoResponse'
              example:
                mensagem: "Cartão removido com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  id: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  first_six_digits: "542501"
                  last_four_digits: "7793"
                  brand: "mastercard"
                  holder_name: "Tony Stark"
                  exp_month: 1
                  exp_year: 2030
                  type: "credit"
                  status: "deleted"
                  tokenization_status: "tokenized"
                  created_at: "2026-04-04T12:43:16-03:00"
                  updated_at: "2026-04-04T12:43:30-03:00"
                  deleted_at: "2026-04-04T12:43:30-03:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cartão vinculado a uma assinatura ativa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Não foi possível remover o cartão."
                erro: true
                mensagenserro:
                  - "Este cartão está vinculado a uma assinatura ativa e não pode ser removido. Altere o cartão da assinatura primeiro."
                codigoretorno: 409
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/clients/{clientCode}/cards/tokens:
    post:
      tags: [Cartões]
      summary: Salvar cartão
      description: >
        Salva um cartão para o cliente e inicia sua tokenização. A resposta retorna
        imediatamente com `tokenization_status: "pending"`; o resultado da tokenização é
        entregue de forma assíncrona por webhook (`card.token_created` em caso de sucesso ou
        `card.token_failed` caso o cartão não possa ser tokenizado). Um evento `card.created`
        também é emitido ao salvar o cartão.


        O número completo (PAN) e o CVV nunca são retornados — apenas os seis primeiros e os
        quatro últimos dígitos. Aceita o header opcional `Idempotency-Key` para evitar
        cadastros duplicados em retentativas. Requer o header `account` com o código da conta.
      operationId: createClientCardToken
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ClientCode'
        - name: Idempotency-Key
          in: header
          required: false
          description: Chave de idempotência para evitar cadastros duplicados (máx. 128 caracteres)
          schema:
            type: string
            example: "a1b2c3d4-idem-key"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCartaoRequest'
            example:
              name: "Tony Stark"
              number: "5425011234567793"
              month: 1
              year: 2030
              security_code: "123"
              type: "credit"
              flag: "mastercard"
      responses:
        '202':
          description: Cartão recebido; tokenização iniciada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartaoResponse'
              example:
                mensagem: "Cartão recebido. A tokenização foi iniciada; o resultado será enviado por webhook."
                erro: false
                mensagenserro: []
                codigoretorno: 202
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  id: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  card_token: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"
                  first_six_digits: "542501"
                  last_four_digits: "7793"
                  brand: "mastercard"
                  holder_name: "Tony Stark"
                  exp_month: 1
                  exp_year: 2030
                  type: "credit"
                  status: "active"
                  tokenization_status: "pending"
                  created_at: "2026-05-27T10:00:00-03:00"
                  updated_at: "2026-05-27T10:00:00-03:00"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

  # ─────────────────────────────────────────────────────────────────
  # ASSINATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/subscriptions:
    post:
      tags: [Assinaturas]
      summary: Criar assinatura
      description: >
        Cria uma nova assinatura recorrente para um cliente. Suporta os métodos de pagamento:
        **CreditCard** e **PIX**.
        O campo `subscription.interval` define o ciclo em dias (ex: 30 para mensal).
        Requer o header `account` com o código da conta.
        Passa por validações de fraude, bloqueio de clientes e rate limiting.
      operationId: createSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreSubscriptionRequest'
            example:
              international: false
              client:
                client_ip: "192.168.1.100"
                name: "Carlos Ferreira"
                email: "carlos@exemplo.com.br"
                gender: "Male"
                birthdate: "1985-06-20"
                phone:
                  ddi: 55
                  ddd: 11
                  number: "977776666"
                document:
                  type: "CPF"
                  number: "111.222.333-44"
                address:
                  zipcode: "04538-132"
                  street: "Rua Fidêncio Ramos"
                  number: 302
                  neighborhood: "Vila Olímpia"
                  complement: "Torre B"
                  city: "São Paulo"
                  state: "SP"
                  country: "Brasil"
              subscription:
                interval: 30
                code: "plano_mensal_001"
                description: "Plano Mensal Premium"
                installments: 1
                max_invoices: 12
                minimum_price: 9990
                billing_type: "prepaid"
                discounts:
                  cycles: 1
                  value: 10.0
                  type: "percentage"
                metadata:
                  origem: "site"
              payment:
                type: CreditCard
                card:
                  number: "4111111111111111"
                  name: "CARLOS FERREIRA"
                  month: "08"
                  year: "28"
                  security_code: "456"
              items:
                - id: "plano_premium"
                  description: "Acesso Premium Mensal"
                  amount: 99.90
                  quantity: 1
      responses:
        '200':
          description: Assinatura criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /v1/subscriptions/cancel/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Cancelar assinatura
      description: >
        Cancela uma assinatura ativa (status `Recurring`).
        A assinatura passa para o status `RecurringCanceled` e não será renovada.
        Esta rota não aceita body.
      operationId: cancelSubscription
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      responses:
        '200':
          description: Assinatura cancelada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Assinatura cancelada com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/change-card/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar cartão da assinatura
      description: >
        Substitui o cartão de crédito vinculado a uma assinatura ativa (status `Recurring`).
        O novo cartão é criado e vinculado à assinatura para as próximas cobranças.
      operationId: changeSubscriptionCard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCardRequest'
            example:
              name: "CARLOS FERREIRA"
              number: "5500000000000004"
              month: "09"
              year: "29"
              security_code: "789"
      responses:
        '200':
          description: Cartão alterado com sucesso
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          card_id:
                            type: string
                            format: uuid
                            description: ID do novo cartão criado
              example:
                mensagem: "Cartão alterado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  card_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/change-payment-method/{subscription_code}:
    put:
      tags: [Assinaturas]
      summary: Alterar método de pagamento da assinatura
      description: >
        Altera o método de pagamento de uma assinatura ativa (status `Recurring` ou `RecurringOverdue`).
        Ao mudar para `CreditCard`, os dados do novo cartão devem ser informados no objeto `card`.
      operationId: changeSubscriptionPaymentMethod
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePaymentMethodRequest'
            examples:
              para_pix:
                summary: Mudar para PIX
                value:
                  method: PIX
              para_cartao:
                summary: Mudar para Cartão de Crédito
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
      responses:
        '200':
          description: Método de pagamento alterado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Método de pagamento alterado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Assinatura não pertence à conta informada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "O código da assinatura não é válido"
                codigoretorno: 403
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '404':
          description: Assinatura não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa (não está em status Recurring ou RecurringOverdue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro aconteceu."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/invoices:
    get:
      tags: [Assinaturas]
      summary: Listar faturas da assinatura
      description: >
        Retorna as faturas (pedidos) geradas para uma assinatura, com suporte a filtro por status e limite.
        Cada fatura inclui seus itens e cobranças associadas.
        Os valores monetários são retornados em centavos.
        Esta rota NÃO retorna o envelope APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: listSubscriptionInvoices
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: status
          in: query
          required: false
          description: Filtrar faturas por status (StatusOrder)
          schema:
            type: string
            enum: [New, Canceled, Paid, ChargeBack, Reversed, PartialReversed, Reproved, Pending, Fail, Challenged, Unprocessed]
            example: Paid
        - name: limit
          in: query
          required: false
          description: Quantidade máxima de faturas a retornar (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
      responses:
        '200':
          description: Lista de faturas retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResponse'
              example:
                data:
                  - subscription_code: "sub_abc123"
                    code: "ord_xyz456"
                    status: "Paid"
                    amount: 9990
                    attempts: 1
                    created_at: "2026-03-11T10:00:00.000000Z"
                    items:
                      - id: "item_abc123"
                        unitary_amount: 9990
                        quantity: 1
                        code: "plano_premium"
                        name: "Acesso Premium Mensal"
                    charges:
                      - code: "chg_abc123"
                        status: "Paid"
                        amount: 9990
                        payment_type: "CreditCard"
                        installments: 1
                        account_client_card_id: "card_abc123"
                        payment:
                          type: "CreditCard"
                          card:
                            id: "card_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada ou não pertence à conta informada."
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/items:
    get:
      tags: [Assinaturas]
      summary: Listar itens da assinatura
      description: >
        Retorna os itens (produtos/serviços) vinculados a uma assinatura.
        Os dados vêm do campo `subs_data.items` da assinatura.
        Os valores monetários são retornados em centavos.
        Esta rota NÃO retorna o envelope APIReturnUtil; retorna diretamente `{"data": [...]}`.
      operationId: listSubscriptionItems
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: code
          in: query
          required: false
          description: Filtrar por código (id) do item (1-100 caracteres)
          schema:
            type: string
            minLength: 1
            maxLength: 100
            example: "plano_premium"
      responses:
        '200':
          description: Lista de itens retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemsResponse'
              example:
                data:
                  - code: "plano_premium"
                    amount: 9990
                    quantity: 1
                    description: "Acesso Premium Mensal"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Assinatura não encontrada ou não pertence à conta informada."
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  /v1/subscriptions/{subscription_code}/items/{item_code}:
    put:
      tags: [Assinaturas]
      summary: Atualizar item da assinatura
      description: >
        Atualiza quantidade, valor ou descrição de um item vinculado a uma assinatura.
        Todos os campos do body são opcionais — informe apenas o que deseja alterar.
        O campo `amount` deve ser enviado em centavos.
      operationId: updateSubscriptionItem
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: subscription_code
          in: path
          required: true
          description: Código único da assinatura
          schema:
            type: string
            example: "sub_abc123"
        - name: item_code
          in: path
          required: true
          description: Código (id) do item no subs_data
          schema:
            type: string
            example: "plano_premium"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionItemRequest'
            example:
              quantity: 2
              amount: 8990
              description: "Acesso Premium Mensal - 2 usuários"
      responses:
        '200':
          description: Item atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Items atualizados com sucesso."
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Assinatura ou item não encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                subscription_not_found:
                  summary: Assinatura não encontrada
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Assinatura não encontrada ou não pertence à conta informada."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                item_not_found:
                  summary: Item não encontrado na assinatura
                  value:
                    mensagem: "Um erro aconteceu."
                    erro: true
                    mensagenserro:
                      - "Item não encontrado na assinatura."
                    codigoretorno: 404
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []

  # ─────────────────────────────────────────────────────────────────
  # FATURAS
  # ─────────────────────────────────────────────────────────────────

  /v1/invoices/{invoice_code}/pay-overdue:
    post:
      tags: [Faturas]
      summary: Pagar fatura em atraso
      description: >
        Realiza o pagamento de uma fatura em atraso de uma assinatura.
        A fatura precisa estar em status `Pending` ou `Fail` e a assinatura precisa estar ativa.
        Cancela todas as cobranças pendentes anteriores antes de criar uma nova.
        Aceita qualquer método de pagamento: `CreditCard`, `PIX`.
        Ao usar `CreditCard`, o objeto `card` com os dados do cartão é obrigatório.
        Esta rota NÃO retorna o envelope APIReturnUtil no sucesso; retorna diretamente os dados da cobrança.
      operationId: payOverdueInvoice
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: invoice_code
          in: path
          required: true
          description: Código único da fatura (pedido)
          schema:
            type: string
            example: "ord_xyz456"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayOverdueInvoiceRequest'
            examples:
              cartao:
                summary: Pagar com Cartão de Crédito
                value:
                  method: CreditCard
                  card:
                    name: "CARLOS FERREIRA"
                    number: "4111111111111111"
                    month: "12"
                    year: "28"
                    security_code: "321"
              pix:
                summary: Pagar com PIX
                value:
                  method: PIX
      responses:
        '200':
          description: Cobrança criada e processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayOverdueInvoiceResponse'
              examples:
                credit_card:
                  summary: Pagamento com cartão de crédito
                  value:
                    invoice_code: "ord_xyz456"
                    code: "chg_abc123"
                    status: "Paid"
                    amount: 9990
                    canceled_amount: 0
                    installments: 1
                    payment:
                      type: "CreditCard"
                      card:
                        id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                pix:
                  summary: Pagamento com PIX
                  value:
                    invoice_code: "ord_xyz456"
                    code: "chg_abc123"
                    status: "Pending"
                    amount: 9990
                    canceled_amount: 0
                    installments: 1
                    payment:
                      type: "PIX"
                      pix:
                        qrcode_url: "https://api.example.com/pix/qrcode"
                        copy_paste: "00020101021226..."
                        expiration: "2026-03-11T10:30:00.000000Z"
        '400':
          description: Fatura não está pendente ou não pertence a uma assinatura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_pending:
                  summary: Fatura não está pendente
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "Fatura não está pendente"
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
                not_subscription:
                  summary: Compra não é uma assinatura
                  value:
                    mensagem: "Um erro inesperado acabou de acontecer."
                    erro: true
                    mensagenserro:
                      - "A compra não é uma assinatura válida"
                    codigoretorno: 400
                    id: "00000000-0000-0000-0000-000000000000"
                    data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Fatura não encontrada ou não pertence à conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "Fatura não encontrada"
                codigoretorno: 404
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '422':
          description: Assinatura não está ativa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Um erro inesperado acabou de acontecer."
                erro: true
                mensagenserro:
                  - "A assinatura não está ativa"
                codigoretorno: 422
                id: "00000000-0000-0000-0000-000000000000"
                data: []

  # ─────────────────────────────────────────────────────────────────
  # ENDPOINTS DE WEBHOOK
  # ─────────────────────────────────────────────────────────────────

  /v1/webhook-endpoints:
    get:
      tags: [Endpoints de Webhook]
      summary: Listar endpoints de webhook
      description: >
        Retorna todos os endpoints de webhook cadastrados para a conta informada no header `account`.
        Requer autenticação Bearer.
      operationId: listWebhookEndpoints
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          description: Endpoints encontrados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointListResponse'
              example:
                mensagem: "Webhooks encontrados com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  - id: 1
                    url: "https://meusite.com.br/webhook"
                    events:
                      - "order.paid"
                      - "charge.failed"
                    status: "Ativo"
                    created_at: "2026-03-01T10:00:00.000000Z"
                    updated_at: "2026-03-10T15:30:00.000000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags: [Endpoints de Webhook]
      summary: Criar endpoint de webhook
      description: >
        Cria um novo endpoint de webhook para a conta informada no header `account`.
        O endpoint receberá notificações POST para os eventos selecionados.
        Requer autenticação Bearer.
      operationId: createWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
            example:
              url: "https://meusite.com.br/webhook"
              events:
                - "order.paid"
                - "charge.failed"
                - "subscription.canceled"
      responses:
        '201':
          description: Webhook criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Webhook criado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "42"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /v1/webhook-endpoints/{id}:
    put:
      tags: [Endpoints de Webhook]
      summary: Atualizar endpoint de webhook
      description: >
        Atualiza parcialmente um endpoint de webhook existente. Todos os campos são opcionais — envie apenas o que deseja alterar.
        Requer autenticação Bearer e que o webhook pertença à conta informada no header `account`.
      operationId: updateWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: id
          in: path
          required: true
          description: ID do webhook a ser atualizado
          schema:
            type: integer
            example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
            examples:
              atualizar_url:
                summary: Atualizar apenas a URL
                value:
                  url: "https://novo-site.com.br/webhook"
              atualizar_eventos:
                summary: Atualizar lista de eventos
                value:
                  events:
                    - "order.paid"
                    - "invoice.created"
              desativar:
                summary: Desativar o webhook
                value:
                  status: "Inativo"
      responses:
        '200':
          description: Webhook atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Webhook atualizado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags: [Endpoints de Webhook]
      summary: Remover endpoint de webhook
      description: >
        Remove permanentemente um endpoint de webhook. O webhook deve pertencer à conta informada no header `account`.
        Requer autenticação Bearer.
      operationId: deleteWebhookEndpoint
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: id
          in: path
          required: true
          description: ID do webhook a ser removido
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Webhook deletado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Webhook deletado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # ─────────────────────────────────────────────────────────────────
  # LINKS DE PAGAMENTO
  # ─────────────────────────────────────────────────────────────────

  /v1/payment-links:
    post:
      tags: [Links de Pagamento]
      summary: Criar link de pagamento
      description: >
        Cria um novo link de pagamento com checkout pré-configurado e URL única com token de segurança.
        Suporta `CreditCard`, `PIX` e `Boleto`. Compartilhe o campo `url` da resposta diretamente com o cliente.


        O campo `config.image` aceita URL pública HTTPS ou string base64 — processado e armazenado automaticamente (fail-soft:
        se falhar, o link é criado normalmente sem imagem e a resposta incluirá `image_warning`).


        Requer o header `account` com o código da conta.
      operationId: createPaymentLink
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
            examples:
              basico:
                summary: Link básico com PIX e cartão
                value:
                  client:
                    name: "Hugo Belo"
                    email: "hugo@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "62"
                      number: "984063942"
                    document:
                      type: "CPF"
                      number: "71854312120"
                  items:
                    - id: "plano-premium"
                      description: "Plano Mensal Premium"
                      amount: 97.99
                      quantity: 1
                  config:
                    payment_types: ["CreditCard", "PIX"]
                    expires_at: "2026-12-31 23:59:59"
                    max_uses: 100
                    pix_discount_value: 10
                    pix_discount_type: "percentage"
                    redirect_url: "https://meusite.com.br/obrigado"
              com_parcelamento:
                summary: Link com parcelamento e split
                value:
                  client:
                    name: "Ana Lima"
                    email: "ana@exemplo.com.br"
                    phone:
                      ddi: "55"
                      ddd: "11"
                      number: "998765432"
                  items:
                    - id: "curso-001"
                      description: "Curso Completo"
                      amount: 497.00
                      quantity: 1
                  config:
                    payment_types: ["CreditCard", "PIX"]
                    installments:
                      - count: 1
                        interest_rate: 1
                      - count: 6
                        interest_rate: 1.1047
                      - count: 12
                        interest_rate: 1.2
                    split:
                      - receiver_code: "rec_abc123"
                        percentage: 80.00
                      - receiver_code: "rec_xyz456"
                        percentage: 20.00
                    link_name: "Curso Completo – Turma Maio 2026"
                    soft_descriptor: "MeuCurso"
      responses:
        '201':
          description: Link de pagamento criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
              example:
                mensagem: "Link de pagamento criado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 201
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  code: "lnk_abc123xyz"
                  order_code: "ord_abc123xyz"
                  token: "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
                  url: "https://checkout.4seletpay.com.br/lnk_abc123xyz?token=a1b2c3d4e5f6..."
                  status: "InProgress"
                  payment_types: ["CreditCard", "PIX"]
                  installments:
                    - count: 1
                      interest_rate: 1
                    - count: 2
                      interest_rate: 1
                  obfuscate_client: false
                  obfuscate_items: false
                  expires_at: "2026-12-31T23:59:59.000000Z"
                  max_uses: 100
                  uses_count: 0
                  split: []
                  value: 97.99
                  created_at: "2026-05-27T10:00:00.000000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

    get:
      tags: [Links de Pagamento]
      summary: Listar links de pagamento
      description: >
        Retorna a lista paginada de links de pagamento da conta informada no header `account`.
        A resposta segue o formato padrão de paginação do Laravel (diferente do envelope APIReturnUtil das demais rotas).
      operationId: listPaymentLinks
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: page
          in: query
          required: false
          description: Número da página
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: Quantidade de itens por página
          schema:
            type: integer
            default: 15
            example: 15
      responses:
        '200':
          description: Lista de links de pagamento retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentLinkData'
                  current_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 42
                  last_page:
                    type: integer
                    example: 3
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payment-links/{code}:
    get:
      tags: [Links de Pagamento]
      summary: Consultar link de pagamento
      description: >
        Retorna os dados completos de um link de pagamento pelo seu código,
        incluindo configurações, contagem de usos e status atual.
        Requer o header `account` com o código da conta.
      operationId: getPaymentLink
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único do link de pagamento
          schema:
            type: string
            example: "lnk_abc123xyz"
      responses:
        '200':
          description: Dados do link de pagamento retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
              example:
                mensagem: "Link de pagamento encontrado"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  code: "lnk_abc123xyz"
                  order_code: "ord_abc123xyz"
                  token: "a1b2c3d4e5f6..."
                  url: "https://checkout.4seletpay.com.br/lnk_abc123xyz?token=a1b2c3d4e5f6..."
                  status: "InProgress"
                  payment_types: ["CreditCard", "PIX"]
                  installments: []
                  obfuscate_client: false
                  obfuscate_items: false
                  expires_at: "2026-12-31T23:59:59.000000Z"
                  max_uses: 100
                  uses_count: 7
                  split: []
                  value: 97.99
                  created_at: "2026-05-27T10:00:00.000000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Links de Pagamento]
      summary: Excluir link de pagamento
      description: >
        Remove permanentemente um link de pagamento.
        Links ativos são cancelados automaticamente antes da exclusão.
        Esta operação é irreversível — pagamentos já realizados via este link não são afetados.
        Requer o header `account` com o código da conta.
      operationId: deletePaymentLink
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único do link de pagamento
          schema:
            type: string
            example: "lnk_abc123xyz"
      responses:
        '200':
          description: Link de pagamento excluído com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                mensagem: "Link de pagamento excluído com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payment-links/{code}/cancel:
    post:
      tags: [Links de Pagamento]
      summary: Cancelar link de pagamento
      description: >
        Cancela um link de pagamento ativo. Apenas links com status `InProgress` podem ser cancelados.
        Esta operação é irreversível — um link cancelado não pode ser reativado.
        Requer o header `account` com o código da conta.
      operationId: cancelPaymentLink
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: code
          in: path
          required: true
          description: Código único do link de pagamento
          schema:
            type: string
            example: "lnk_abc123xyz"
      responses:
        '200':
          description: Link de pagamento cancelado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
              example:
                mensagem: "Link de pagamento cancelado com sucesso"
                erro: false
                mensagenserro: []
                codigoretorno: 200
                id: "00000000-0000-0000-0000-000000000000"
                data:
                  code: "lnk_abc123xyz"
                  order_code: "ord_abc123xyz"
                  token: "a1b2c3d4e5f6..."
                  url: null
                  status: "Canceled"
                  payment_types: ["CreditCard", "PIX"]
                  installments: []
                  obfuscate_client: false
                  obfuscate_items: false
                  expires_at: null
                  max_uses: null
                  uses_count: 7
                  split: []
                  value: 97.99
                  created_at: "2026-05-27T10:00:00.000000Z"
        '400':
          description: Link já cancelado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                mensagem: "Link de pagamento já está cancelado."
                erro: true
                mensagenserro: ["Link de pagamento já está cancelado."]
                codigoretorno: 400
                id: "00000000-0000-0000-0000-000000000000"
                data: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────────
  # ANÁLISE DE FRAUDE
  # ─────────────────────────────────────────────────────────────────

  /v1/fraud/risk-analyses:
    post:
      tags: [Análise de Fraude]
      summary: Analisar risco de uma transação
      description: >
        Avalia o risco de fraude de uma transação e devolve uma recomendação, uma nota de risco
        (0–100), o nível e os motivos. Cada análise concluída é cobrada. Autenticada pela chave de API.
      operationId: createRiskAnalysis
      security:
        - secretKeyAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: >
            Chave de idempotência opcional. Repetir a mesma chave com o mesmo corpo devolve a análise
            original sem cobrar de novo; a mesma chave com corpo diferente retorna 422.
          schema:
            type: string
            example: order-9f2b1a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAnalysisRequest'
            example:
              external_reference: order-1024
              amount: 25000
              currency: BRL
              payment_method: credit_card
              customer:
                name: João Silva
                document: "12345678900"
                email: joao@exemplo.com.br
                phone: "+5511999998888"
              card:
                bin: "516292"
                last4: "0000"
                brand: mastercard
              context:
                ip: 189.10.20.30
                user_agent: MinhaLoja/1.0
      responses:
        '200':
          description: Análise concluída
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAnalysis'
              example:
                object: risk_analysis
                id: fan_a1b2c3d4e5f6g7h8
                external_reference: order-1024
                status: completed
                risk_score: 30
                risk_level: low
                recommendation: follow
                decision: ALLOW
                reasons: [NEW_CUSTOMER]
                analyzed_at: "2026-07-27T12:00:00-03:00"
        '401':
          $ref: '#/components/responses/FraudUnauthorized'
        '402':
          description: Acesso suspenso por faturas de antifraude em aberto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudError'
              example:
                error:
                  type: billing_error
                  code: payment_required
                  message: Antifraud API access is suspended due to an outstanding balance.
        '403':
          $ref: '#/components/responses/FraudProductDisabled'
        '422':
          description: Dados inválidos, campo de cartão proibido (número/CVV/validade) ou conflito de idempotência
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudError'
              examples:
                validation_failed:
                  summary: Dados inválidos
                  value:
                    error:
                      type: invalid_request_error
                      code: validation_failed
                      message: The amount field is required.
                forbidden_card_field:
                  summary: Campo de cartão proibido
                  value:
                    error:
                      type: invalid_request_error
                      code: forbidden_card_field
                      message: The field [card.number] is not accepted. Send only the card bin and last four digits.
                idempotency_conflict:
                  summary: Conflito de idempotência
                  value:
                    error:
                      type: idempotency_error
                      code: idempotency_conflict
                      message: The Idempotency-Key was already used with a different payload.
        '503':
          description: Provedor de risco indisponível — repita com a mesma Idempotency-Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudError'
              example:
                error:
                  type: service_unavailable
                  code: analysis_unavailable
                  message: The analysis could not be completed. Retry with the same Idempotency-Key.

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token JWT obtido via `POST /v1/login`. Envie no header `Authorization: Bearer <token>`."
    secretKeyAuth:
      type: http
      scheme: bearer
      description: >
        Chave de API (secret key) da conta, no formato `sk_live_...` (produção) ou `sk_test_...` (Dev mode).
        Envie no header `Authorization: Bearer <chave>`. Usada apenas nas rotas de Análise de Fraude.
        Gere a sua no dashboard em Configurações → Chaves de API.

  parameters:
    AccountHeader:
      name: account
      in: header
      required: true
      description: Código da conta à qual a operação se aplica
      schema:
        type: string
        example: "acc_abc123xyz"
    ClientCode:
      name: clientCode
      in: path
      required: true
      description: Código único do cliente dono do cartão
      schema:
        type: string
        example: "cli_abc123"
    CardId:
      name: cardId
      in: path
      required: true
      description: UUID do cartão
      schema:
        type: string
        format: uuid
        example: "9b2f5c8e-3a1d-4f7b-8c6e-2d9a1b4c5e6f"

  responses:
    FraudUnauthorized:
      description: Chave de API ausente, inválida ou revogada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FraudError'
          example:
            error:
              type: authentication_error
              code: invalid_api_secret
              message: Invalid API secret.
    FraudProductDisabled:
      description: Produto de antifraude não habilitado para a conta
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FraudError'
          example:
            error:
              type: authorization_error
              code: product_not_enabled
              message: The antifraud API is not enabled for this account.
    ValidationError:
      description: Erro de validação dos dados enviados
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          example:
            message: The given data was invalid.
            errors:
              client.email:
                - O campo client.email é obrigatório.
    Unauthorized:
      description: Não autorizado — token inválido ou ausente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: Unauthenticated.
            erro: true
            mensagenserro: []
            codigoretorno: 401
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "The charge code does not match any charge"
            erro: true
            mensagenserro: []
            codigoretorno: 404
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "Um erro inesperado acabou de acontecer."
            erro: true
            mensagenserro:
              - "Detalhe do erro ocorrido."
            codigoretorno: 400
            id: "00000000-0000-0000-0000-000000000000"
            data: []
    ServerError:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            mensagem: "Um erro aconteceu."
            erro: true
            mensagenserro:
              - "Erro interno. Tente novamente mais tarde."
            codigoretorno: 500
            id: "00000000-0000-0000-0000-000000000000"
            data: []

  schemas:

    # ── Análise de Fraude ─────────────────────────────────────────

    FraudError:
      type: object
      description: Envelope de erro das rotas de Análise de Fraude
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              example: invalid_request_error
            code:
              type: string
              example: validation_failed
            message:
              type: string
              example: The amount field is required.

    RiskAnalysisRequest:
      type: object
      required: [amount, currency]
      properties:
        external_reference:
          type: string
          maxLength: 191
          description: Seu identificador da transação (aparece na resposta)
          example: order-1024
        amount:
          type: integer
          minimum: 0
          description: Valor da transação em centavos (10000 = R$ 100,00)
          example: 25000
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: Moeda no padrão ISO 4217 (3 letras)
          example: BRL
        payment_method:
          type: string
          maxLength: 30
          example: credit_card
        customer:
          type: object
          properties:
            name:
              type: string
              maxLength: 191
              example: João Silva
            document:
              type: string
              maxLength: 60
              description: CPF ou CNPJ, com ou sem máscara
              example: "12345678900"
            email:
              type: string
              format: email
              maxLength: 191
              example: joao@exemplo.com.br
            phone:
[...]
